* {
	padding: 0;
	margin: 0;
}

body{
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #3c3c7a url(../images/logo.png) center center no-repeat fixed;
	margin: 15px;
}

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/overlay.png", sizingMethod="scale");
}

#new-connection {
	width: 200px;
	padding: 20px;
	border: 2px solid white;
	margin-left: 20px;
	margin-top: 30px;
	text-align: center;
	font-size: 120%;
}

a:link, a:visited {
	color: #FFF;
	border-bottom: 1px dotted #4E4E4E;
	text-decoration: none;
}

.input-area {
    height: 100%;
    width: 100%;
}

.irc {
	position: relative;
}

.irc_main {
	position: relative;
	left: 0;
	top: 0;
	width: 73%;
}

.irc_userlist {
    font-size: 80%;
}

.irc_userlist li {
	list-style: none;
	margin: 5px;
}

.irc_content {
	position: relative;
	border: 1px solid #D6D6D6;
}

.irc_content img {
	position: absolute;
	left: 48%;
	top: 48%;
}

.irc_actions {
	margin: 8px 0 0 0;
}

.irc_actions button {
	border: 1px solid #D6D6D6;
	background-color: white;
}

.ircinput {
	margin-top: 6px;
}

.ircinput textarea {
	height: 2em;
	background: none;
	border: 1px solid #D6D6D6;
}

.irclog {
    font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	position: relative;
	width: 100%;
}

.irclog td {
	vertical-align: top;
	margin-bottom: 10px;
	padding-right: 10px;
	line-height: 1.66;
}

.irc_line {
}

.messages {
    font-size: 80%;
    overflow: auto;
}

.messages td {
    vertical-align: top;
}

.time {
}
.time:before {
	content: '[';
}
.time:after {
	content: ']';
}

.nick {
	color: #6666CC;
	font-weight: bold;
}

.nick:before {
	content: '<';
	color: black;
}

.nick:after {
	content: '>';
	color: black;
}

.message {
	color: #990033;
}

.event {
	color: #999999;
}

.notice {
	color: #0033CC;
	font-style: italic;
}

.join, .part {
	color: #999999;
	font-style: italic;
}

.window {
	position: absolute;
	z-index: 1;
	font-size: .9em;
	border: 0;
}

.window_close {
	width: 14px;
	height: 14px;
	position:absolute;
	top:5px;
	right:8px;
	cursor:pointer;
	z-index:2000;
}

.window table {
	width: 100%;
}

.window_topleft {
	width: 9px;
	height: 23px;
	background: transparent url(../images/top_left.gif) no-repeat 0 0;
}

.window_title {
	height:17px;
	font: .75em/1.2em bold Geneva, Arial, Helvetica, sans-serif;
	color: white;
	background: transparent url(../images/top_mid.gif) repeat-x 0 0;	
	padding: 2px 3px;
	cursor:move;
}

.window_topright {
	width: 9px;
	height: 23px;
	background: transparent url(../images/top_right.gif) no-repeat 0 0;
}

.window_midleft {
	width: 2px;
	height: 100%;
	background: transparent url(../images/center_left.gif) repeat-y 0 0;
}

.window_midright {
	width: 2px;
	height: 100%;
	background: transparent url(../images/center_right.gif) repeat-y 0 0;
}

.window_bottomleft {
	width: 9px;
	height: 19px;
	background: transparent url(../images/bottom_left.gif) no-repeat 0 0;
}

.window_bottom {
	background: transparent url(../images/bottom_mid.gif) repeat-x 0 0;
}

.window_bottomright {
	width: 9px;
	height: 19px;
	background: transparent url(../images/bottom_right.gif) no-repeat 0 0;
}

.window_content h1 {
	font: 1.33em/1.5em bold "Arial Unicode MS", SimSun, Verdana, sans-serif;
	background-color: inherit;
	color: #334d55;
}

.window_content {
	position: relative;
	overflow: hidden;
	background-color: white;
}

.window_resize {
	cursor: nw-resize;
}

#login {
	padding: 10px;
	font-size: .85em;
}

#login fieldset {
	margin: 5px 0;
	border: 0;
}

#login label {
}

#login p {
	margin-bottom: 15px;
}

#login input, #login-dialog select {
	float: right;
	width: 170px;
	background: none;
	border: 1px solid #D6D6D6;
}

#login select {
	width: 172px;
}