@import url(calendar-blue.css);

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid blue;
    font-size: 75%;
}

#header h1 {
	font-weight: normal;
	font-size: 150%;
}

#header #menu {
    margin: 0.3em 0 0 0;
    padding: 0;
    float: right;
}

#menu li {
    list-style: none; 
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
}

#menu li a {
    color: #666666;
}

#content {
    margin: 5px 20px 0 20px;
    font-size: 75%;
}

#start-chat {
	float: right;
}

#query-result {
	margin-top: 5px;
	background-color: #FEFFAF;
	height: 160px;
}

#query-result h3 {
	font-weight: normal;
	font-size: 100%;
}

#query-close {
	float: right;
}

#query-output {
	background-color: white;
	margin: 5px 3px;
	height: 136px;
	overflow: auto;
}

#query-output td {
	font-size: 70%;
}

#query-output .date {
	color: #cc0099;
}

.hi {
	background-color: yellow;
}

#errors {
	height: 1.5em;
	margin-bottom: 3px;
	color: #AF0024;
}

h2 {
	font-size: 100%;
}

#output {
	background-color: #FC6;
	margin-top: 5px;
	padding: 0 3px 3px 5px;
	border: 1px solid #FFD100;
}

#log-output {
	margin-top: 10px;
	background-color: white;
	overflow: auto;
}

#log-output table {
	width: 100%;
	margin: 0;
	padding: 0;
}

td {
	vertical-align: top;
	font-size: 85%;
	padding-bottom: 5px;
}

.time, .nick {
	padding-right: 15px;
}

.action {
	font-style: italic;
}

#navbar {
	width: auto;
	border: 0;
	font-size: 75%;
	margin-bottom: 10px;
}

#previous {
	float: left;
}

#current {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 150%;
}

#current-date {
	border: 0;
	background-color: transparent;
	color: white;
	font-weight: bold;
	text-align: right;
	padding-right: 8px;
}

#current label {
    margin-left: 10px;
}

#next {
	float: right;
}