@import url(default-style.css);

#navigation {
    margin: 10px;
    background-color: #DEDEDE;
}

#navigation table {
    width: 100%;
    font-size: 8pt;
    color: #661100;
    padding: 5px;
}

#navigation td.rec-count {
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

#navigation td.navbar {
    padding: 5px;
    background-color: #ff9900;
}

.record {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-top: solid 2px #AEAEAE;
}

.actionhead {
    text-align: left;
}

.actionhead a {
    font-size: small;
    color: #AA0000;
}

.xmllink {
    text-align: right;
}

.citation {
    
}
			
.heading {
    font-weight: bold;
    margin-right: 5px;
}
			
.title {
    font-family: Times New Roman, serif;
    font-weight: bold;
    font-size: 16pt;
}
			
.citekey {
    color: #50497A;
    margin-left: 20px;
}

.details {
    margin-left: 10px;
}

.details_heading {
    font-weight: bold;
}
