body {
	background-color: #ccc;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.4;
}

div#header {
    text-align: left;
    font-size: 18pt;
    padding: 10px;
    background: #686868; 
    border: solid 1px gray;
    color: white;
    font-size: 14px;
    width: 860px;
    font-family: Arial;
}

.authors {
    margin-top: 35px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    border-top: 1px solid black;
}

.xmlsrc {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

div#content {
	margin-left: 160px;
	background: white;
	width: 690px;
	padding: 15px;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.blog_shadow { 
	background: url(../images/shadow-2.png); 
	width: 680px;
	height: 20px;
	margin-left: 5px;
}

div#sidebar {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    width: 140px; 
    margin-top: 0px;
    background: #f0f0f0;
    float: left   
}

div.banner {
    padding-top: 30px;
    padding-bottom: 10px;
}

.variablelist {
    margin-left: 15px;
}

div.group {
    color: black;
    margin-top: 2px;
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    padding-top: 10px;
    }

a, a:visited: {
    color: #203cd8;
    text-decoration: none;
}

a:hover, a:active {
    color: black;
    background-color: #94FF9C;
    text-decoration: none;
}

a.group { 
    color: black;
    text-decoration: none;  
}

a.page { color: white; }

div.item {
    font-size: 80%;
    padding-right: 10px;
    text-align: right;
    padding-left: 5px;
    padding-bottom: 2px;
    margin-left: 15px;
}
.item { font-size: 80%; }

th, td { /* ns 4 */
}

td.tab {
    border-right: 2px solid black;
}

td.tabpage {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

tr.result-head {
    background-color: black;
}

tr.row-1 {
    background-color: rgb(235, 235, 235);
}

tr.row-2 {
    background-color: white;
}
          
.error {
    background-color: #ff5555;
    font-weight: bold;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
          
h1 { 
    font-size: 14pt;
    font-weight: normal;
    border: 1px solid black;
    background-color:  #F7F8E4;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
}
          
h2.section { 
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-align: left;
}
          
h3 { 
    font-weight: bold;
}
          
div.expansion {
    font-weight: bold;
}
          
td.entry {
    border: 1pt solid black;
}
          
table.overview {
    border: 1pt solid black;
    background: white;
    cellspacing: 0;
    padding: 10px;
    width: 680px;

}

table.details {
    color: #666;
    margin-top: 10px;
    margin-left: 15px;
}

table.query {
    font-size: small;
    border: 1pt solid black;
}

a.mods {
    color: #666;
    text-decoration: underline;
}

td.overview {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

th.navtop {
    font-size: 10px;
    background-color: #ceccb6; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    border-bottom: 1px black solid;
}

th.table-head {
    font-size: 10px;
    background-color: #b8ceb4; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    border-bottom: 1px black solid;
}


th.navbottom {
    font-size: 10px;
    border-top: 1px solid black;
    background-color: #ceccb6; 
    padding-left: 10px;
    padding-right: 10px;
}

th.summary {
    color: white;
}

td.details_heading {
    font-weight: bold;
}

th.summary_heading {
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
}

div.hits {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Courier, monospace;
    font-size: smaller;
}

div.dc_title {
    font-size: 16pt;
    margin-bottom: 8px;
}

div.mods_subTitle {
    font-size: 10pt;
    font-weight: bold;
}

div.mods_names {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.mods_abstract {
    text-indent: 15px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

div.dcq_alternative {
    font-size: 10pt;
    font-weight: bold;
}

div.dcq_IMT {
    font-size: small;
    text-align: center;
}

blockquote {
    text-align: justify;
}

span.icondesc {
    font-size: small;
    padding-right: 5px;
}

img.icon {
    vertical-align: middle;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: gray;
}

span.hit {
	background-color: #F5FF82;
}

input {
    vertical-align: top;
}

input:hover{
    background-color:#aabbff;
}

input:focus{
    background-color:#aabbff;
    color:white;
}
