a {font-size:7pt;}
a:link {text-decoration:none; color:#000000;}
a:visited {text-decoration:none; color:#000000;}
a:hover {text-decoration:underline; color:#000000;}
a:active {text-decoration:underline; color:#000000;}
a:focus {text-decoration:underline; color:#000000;}
body {
    color:#000000; 
    background-color:#ccc; 
    font-family:Verdana,Arial,Helvetica; 
    font-size:10pt; 
    margin-top:5%;
}

input {
    color:#000000; 
    background-color:#FFFFFF; 
    font-family:Verdana,Arial,Helvetica; 
    font-size:10pt;
    border:none;
}

input.invalid {
    background-color: #AA0000;
}

input:hover{
    background-color:#aabbff;
}

input:focus{
    background-color:#aabbff;
    color:white;
}

textarea {
    color:#000000; 
    background-color:#FFFFFF; 
    font-family:Verdana,Arial,Helvetica; 
    font-size:10pt;
    border:none;
}

textarea:hover{
    background-color:#aabbff;
}

textarea:focus{
    background-color:#aabbff;
    color:white;
}

select {
    color:#000000; 
    background-color:#FFFFFF; 
    font-family:Verdana,Arial,Helvetica; 
    font-size:10pt;
    border:none;
}

select:hover{
    background-color:#aabbff;
}

select:focus{
    background-color:#aabbff;
    color:white;
}

option {color:#000000; background-color:#FFFFFF; font-family:Verdana,Arial,Helvetica; font-size:10pt; border-color:#000000; border-width:0pt; border-style:hidden;}
table {
    border-width:1pt; 
    border-color:#000000; 
    border-style:solid; 
    border-collapse:collapse; 
    border-spacing:0pt; 
    margin-top:5pt; 
    width:100%;
}

table.tabsheet {
    width: 690px;
}

td { 
    color:#000000; 
    background-color:#EEEEEE; 
    font-family:Verdana,Arial,Helvetica; 
    font-size:10pt; 
    padding:5pt;
}
.hidden-table {
    border-width:1pt; 
    border-color:#EEEEEE; 
    border-style:solid; 
    border-collapse:collapse; 
    border-spacing:0pt;
    width:100%;
}
.active-tab {border-width:1pt; border-color:#000000; border-style:solid; border-bottom-style:hidden; padding-top:0pt; padding-bottom:0pt; padding-left:5pt; padding-right:5pt;}
.inactive-tab {
    border-width:1pt; 
    border-color:#000000; 
    border-style:solid; 
    background-color:#b8ceb4;
    padding:0pt;
}
.inactive-tab-button {background-color:#DDDDDD;}
.filler-tab {border-width:1pt; border-color:#000000; border-style:solid; border-top-style:hidden; border-right-style:hidden; width:99%; background-color:#FFFFFF; text-align:right; padding-left:5pt; padding-right:5pt;}
.group-label {
    color: white;
    font-weight: bold;
    border-width:1pt; 
    border-color:#000000; 
    border-style:solid; 
    background-color:#b8ceb4; 
    padding-left:5pt; 
    padding-right:5pt; 
    padding-top:2pt; 
    padding-bottom:2pt; 
    width:100%;
}

.control-label {
    vertical-align:middle; 
    padding-left:5pt; 
    padding-right:5pt;
    padding-bottom:5pt;
    width:30%;
}

.control {
    text-align:left; 
    vertical-align:middle; 
    padding-left:5pt; 
    padding-right:5pt;
    padding-bottom: 5pt;
    width:70%;
}

.label { font-weight: bold; padding-bottom: 5px; }

.full-group {
    padding: 5px;
    border: none;
}

.repeat-group {
    border: none;
}

.repeat-selected {
    border: none;
    white-space:nowrap;
    background-color:#FAFAFA;
    padding: 5px;
}

.repeat-deselected {
    border: none;
    white-space:nowrap;
    background-color:#dddddd;
    padding: 5px;
}
.selector-cell{
    background-color:#cccccc;
    vertical-align:top;
    align:center;
}
.hint {font-size: 9pt;}
.textarea { padding-top: 5px; }
.action-panel {margin:5pt; text-align:center; vertical-align:middle;}
.action-button {color:#000000; background-color:#DDDDDD; font-family:Verdana,Arial,Helvetica; font-size:10pt; border-color:#000000; border-width:1pt; border-style:solid; margin:5pt;}
.alert {
    font-size: small; 
    color:#FF0000; 
    text-align:left; 
    vertical-align:top; 
    padding-top:2pt; 
    padding-bottom:2pt;
}
.blog_shadow { 
	background: url(../images/shadow-2.png); 
	width: 680px;
	height: 20px;
	margin-left: 5px;
}
