#
autodeploy/
classes/
client.properties
conf.xml
descriptor.xml
data/
dist/
exist.jar
exist-optional.jar
extensions/**/build/
extensions/contentextraction/lib/
extensions/lib/
extensions/modules/lib/
lib/extensions/
lib/user/svnkit*.jar
lib/user/icu4j*.jar
local.*
mime-types.xml
start.jar
test/external/
test/src/org/exist/xquery/xqts/
tools/wrapper/bin/exist.sh
tools/wrapper/conf/log4j.xml
tools/wrapper/conf/wrapper.conf
tools/wrapper/conf/wrapper.conf.install
tools/wrapper/bin/eXist-db.java.status
tools/wrapper/bin/eXist-db.pid
tools/wrapper/bin/eXist-db.status
uninstall/
webapp/WEB-INF/betterform-config.xml
webapp/WEB-INF/betterform-version.info
webapp/WEB-INF/dwr.xml
webapp/WEB-INF/dwr20.dtd
webapp/WEB-INF/web.xml
webapp/xqts/config.xml
webapp/WEB-INF/logs/*.log
webapp/WEB-INF/logs/*.log.*
tools/jetty/logs/
tools/jetty/tmp/
tools/wrapper/logs/
backup/
test/junit/
test/temp/
nbproject/build/
nbproject/private/
/target
build/intellij
eXist.iws
