#
autodeploy/
classes/
client.properties
conf.xml
descriptor.xml
data/
dist/
exist.jar
exist-optional.jar
extensions/**/build/
extensions/contentextraction/lib/
extensions/lib/
extensions/modules/lib/
lib/extensions/
lib/user/svnkit*.jar
lib/user/icu4j*.jar
local.*
mime-types.xml
start.jar
test/external/
test/src/org/exist/xquery/xqts/
tools/wrapper/bin/exist.sh
tools/wrapper/conf/log4j.xml
tools/wrapper/conf/wrapper.conf
tools/wrapper/conf/wrapper.conf.install
tools/wrapper/bin/eXist-db.java.status
tools/wrapper/bin/eXist-db.pid
tools/wrapper/bin/eXist-db.status
uninstall/
webapp/WEB-INF/betterform-config.xml
webapp/WEB-INF/betterform-version.info
webapp/WEB-INF/dwr.xml
webapp/WEB-INF/dwr20.dtd
webapp/WEB-INF/web.xml
webapp/xqts/config.xml
webapp/WEB-INF/logs/*.log
webapp/WEB-INF/logs/*.log.*
tools/jetty/logs/
tools/jetty/tmp/
tools/wrapper/logs/
backup/
test/junit/
test/temp/
nbproject/build/
nbproject/private/
/target
installer/apps/00shared-resources-0.3.9.xar
installer/apps/00shared-resources-0.3.9.xml
installer/apps/bf-XForms-1.3.xar
installer/apps/bf-XForms-1.3.xml
installer/apps/dashboard-0.3.7.xar
tools/ant/lib/appbundler-1.0.jar
installer/apps/dashboard-0.3.7.xml
installer/apps/demo-0.2.8.xar
installer/apps/demo-0.2.8.xml
installer/apps/doc-0.3.1.xar
installer/apps/doc-0.3.1.xml
installer/apps/eXide-2.0.6.xar
installer/apps/eXide-2.0.6.xml

installer/apps/fundocs-0.4.xar

installer/apps/fundocs-0.4.xml

installer/apps/xsltforms-565.xar

installer/apps/xsltforms-565.xml

installer/apps/xsltforms-demo-0.1.3.xar

installer/apps/xsltforms-demo-0.1.3.xml

installer/scripts/backup.bat

installer/scripts/backup.sh

installer/scripts/client.bat

installer/scripts/client.sh

installer/scripts/eXist-db.app/Contents/Info.plist

installer/scripts/eXist-db.app/Contents/MacOS/JavaAppLauncher

installer/scripts/eXist-db.app/Contents/PkgInfo

installer/scripts/eXist-db.app/Contents/Resources/en.lproj/Localizable.strings

installer/scripts/eXist-db.app/Contents/Resources/icon.icns

installer/scripts/server.bat

installer/scripts/server.sh

installer/scripts/shutdown.bat

installer/scripts/shutdown.sh

installer/scripts/startup.bat

installer/scripts/startup.sh

examples.jar

installer/eXist-db-setup-2.1-rev.jar
/.DS_Store
