<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Properties>
        <Property name="logs">${log4j:configParentLocation}/webapp/WEB-INF/logs</Property>
        <Property name="rollover.max.size">10MB</Property>
        <Property name="rollover.max">14</Property>
        <Property name="rollover.file.pattern">%d{yyyyMMddHHmmss}</Property>
        <Property name="exist.file.pattern">%d [%t] %-5p (%F [%M]:%L) - %m %n</Property>
    </Properties>
    
    <Appenders>
        
        <Console name="STDOUT">
            <PatternLayout pattern="%d{DATE} [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </Console>
        
        <RollingRandomAccessFile name="exist.core" filePattern="${logs}/exist.${rollover.file.pattern}.log.gz" fileName="${logs}/exist.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="exist.xmldb" filePattern="${logs}/xmldb.${rollover.file.pattern}.log.gz" fileName="${logs}/xmldb.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="exist.xmlrpc" filePattern="${logs}/xmlrpc.${rollover.file.pattern}.log.gz" fileName="${logs}/xmlrpc.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.urlrewrite" filePattern="${logs}/urlrewrite.${rollover.file.pattern}.log.gz" fileName="${logs}/urlrewrite.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.profiling" filePattern="${logs}/profile.${rollover.file.pattern}.log.gz" fileName="${logs}/profile.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.scheduler" filePattern="${logs}/scheduler.${rollover.file.pattern}.log.gz" fileName="${logs}/scheduler.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.ehcache" filePattern="${logs}/ehcache.${rollover.file.pattern}.log.gz" fileName="${logs}/ehcache.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.betterform" filePattern="${logs}/betterform.${rollover.file.pattern}.log.gz" fileName="${logs}/betterform.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.restxq" filePattern="${logs}/restxq.${rollover.file.pattern}.log.gz" fileName="${logs}/restxq.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.backup" filePattern="${logs}/backup.${rollover.file.pattern}.log.gz" fileName="${logs}/backup.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.mdStorage" filePattern="${logs}/mdStorage.${rollover.file.pattern}.log.gz" fileName="${logs}/mdStorage.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.statistics" filePattern="${logs}/statistics.${rollover.file.pattern}.log.gz" fileName="${logs}/statistics.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="expath.repo" filePattern="${logs}/expath-repo.${rollover.file.pattern}.log.gz" fileName="${logs}/expath-repo.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="exist.launcher" filePattern="${logs}/launcher.${rollover.file.pattern}.log.gz" fileName="${logs}/launcher.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${exist.file.pattern}"/>
        </RollingRandomAccessFile>
        
    </Appenders>
    
    <Loggers>
        
        <Logger name="org.exist.jetty.JettyStart" additivity="false" level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="exist.core"/>
        </Logger>
        
        <Logger name="org.exist.jetty.StandaloneServer" additivity="false" level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="exist.core"/>
        </Logger>
        
        <Logger name="xquery.profiling" additivity="false" level="trace">
            <AppenderRef ref="exist.profiling"/>
        </Logger>
        
        <Logger name="org.exist.statistics" additivity="false" level="debug">
            <AppenderRef ref="exist.core"/>
            <AppenderRef ref="exist.statistics"/> 
        </Logger>
        
        <Logger name="org.exist.backup.SystemExport" additivity="false" level="trace">
            <AppenderRef ref="exist.backup"/>
        </Logger>
        
        <Logger name="org.exist.xmldb" additivity="false" level="info">
            <AppenderRef ref="exist.xmldb"/>
        </Logger>
        
        <Logger name="org.exist.xmlrpc" additivity="false" level="info">
            <AppenderRef ref="exist.xmlrpc"/>
        </Logger>

        <Logger name="org.apache.xmlrpc" additivity="false" level="info">
            <AppenderRef ref="exist.xmlrpc"/>
        </Logger>
        
        <Logger name="org.exist.http.urlrewrite" additivity="false" level="info">
            <!-- set to "trace" to get detailed info on URL rewriting -->
            <AppenderRef ref="exist.urlrewrite"/>
        </Logger>
        
        <Logger name="org.exist.extensions.exquery.restxq" additivity="false" level="info">
            <AppenderRef ref="exist.restxq"/>
        </Logger>

        <Logger name="org.eclipse.jetty" additivity="false" level="info">
            <AppenderRef ref="exist.core"/>
        </Logger>
        
        <Logger name="httpclient" additivity="false" level="info">
            <AppenderRef ref="exist.core"/>
        </Logger>
        
        <Logger name="net.sf.ehcache" additivity="false" level="info">
            <AppenderRef ref="exist.ehcache"/>
        </Logger>
        
        <!-- Milton WebDAV framework -->
        <Logger name="com.bradmcevoy" additivity="false" level="info">
            <AppenderRef ref="exist.core"/>
        </Logger>
        
        <!-- Apache Axis: 'debug' produces a large amount of debugging output -->
        <Logger name="org.apache" additivity="false" level="off">
            <AppenderRef ref="exist.core"/>
        </Logger>
        
        <!-- Quartz scheduler -->
        <Logger name="org.quartz" additivity="false" level="info">
            <AppenderRef ref="exist.scheduler"/>
        </Logger>
        
        <Logger name="org.exist.storage.SystemTask" additivity="false" level="debug">
            <AppenderRef ref="exist.scheduler"/>
        </Logger>
        
        <!-- betterFORM extension -->
        <Logger name="de.betterform" additivity="false" level="warn">
            <AppenderRef ref="exist.betterform"/>
        </Logger>
        
        <!-- Metadata Storage extension -->
        <Logger name="mdStorage" additivity="false" level="warn">
            <AppenderRef ref="exist.mdStorage"/>
        </Logger>

        <!-- expath pkg repo -->
        <Logger name="org.expath.pkg" additivity="false" level="trace">
            <AppenderRef ref="expath.repo"/>
        </Logger>
        <Logger name="org.exist.repo" additivity="false" level="trace">
            <AppenderRef ref="expath.repo"/>
        </Logger>
        <Logger name="org.exist.launcher" additivity="false" level="warn">
            <AppenderRef ref="exist.launcher"/>
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="exist.core"></AppenderRef>
        </Root>
        
    </Loggers>
    
</Configuration>
