<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- This is the configuration for LOG4J -->
<!-- $Id$ -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- ========[APPENDERS]======== -->
    
    <!-- 
         writes log messages to the console. It outputs file name,
         method name and line number of the caller. This is slow,
         so just use it for debugging. 
    -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <!-- 
         the following appenders write to files  
    -->
    <appender name="exist.core" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/exist.log"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="3"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
           
    <appender name="exist.xacml" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/xacml.log"/>
        <param name="MaxFileSize" value="500KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <appender name="exist.xmldb" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/xmldb.log"/>
        <param name="MaxFileSize" value="2000KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <appender name="exist.urlrewrite" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/urlrewrite.log"/>
        <param name="MaxFileSize" value="500KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>

    <appender name="exist.profiling" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/profile.log"/>
        <param name="MaxFileSize" value="500KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
        
    <appender name="exist.scheduler" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/scheduler.log"/>
        <param name="MaxFileSize" value="500KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <appender name="exist.ehcache" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/ehcache.log"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <appender name="exist.betterform" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/betterform.log"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <appender name="exist.restxq" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${exist.home}/webapp/WEB-INF/logs/restxq.log"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="3"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <!--
    <appender name="exist.statistics" class="org.apache.log4j.RollingFileAppender">
        <param  name="File" value="${exist.home}/webapp/WEB-INF/logs/statistics.log"/>
        <param name="MaxFileSize" value="5MB"/>
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    -->
       
    <!-- the null appender writes to no where -->
    <appender name="null" class="org.apache.log4j.varia.NullAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>
    
    <!-- 
        LF5 appender. Using this appender in an appender-ref will
        pop up the LogFactor5 gui.
    -->
    <appender name="lf5" class="org.apache.log4j.lf5.LF5Appender">
        <param name="MaxNumberOfRecords" value="1000"/>
    </appender>
    
    
    <!-- ========[CATEGORIES]======== -->
    
    <category name="org.exist.jetty.JettyStart" additivity="false">
        <priority value="trace"/>
        <appender-ref ref="console"/>
        <appender-ref ref="exist.core"/>
        <appender-ref ref="exist.xmldb"/>
    </category>
    
    <category name="org.exist.jetty.StandaloneServer" additivity="false">
        <priority value="trace"/>
        <appender-ref ref="console"/>
        <appender-ref ref="exist.core"/>
        <appender-ref ref="exist.xmldb"/>
    </category>
    
    <category name="xquery.profiling" additivity="false">
        <priority value="trace"/>
        <appender-ref ref="exist.profiling"/>
    </category>
    
    <category name="org.exist.statistics" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="exist.core"/>
		<!-- 
		<appender-ref ref="exist.statistics"/> 
		-->
    </category>
    
    <category name="org.exist.security.xacml" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="exist.xacml"/>
    </category>
    
    <category name="org.exist.xmldb" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="exist.xmldb"/>
    </category>
    
    <category name="org.exist.xmlrpc" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="exist.core"/>
    </category>

	<category name="org.exist.http.urlrewrite" additivity="false">
		<!-- set to "trace" to get detailed info on URL rewriting -->
        <priority value="info"/>
        <appender-ref ref="exist.urlrewrite"/>
	</category>
    
    <category name="org.exist.extensions.exquery.restxq" additivity="false">
        <priority value="info"/>
        <appender-ref ref="exist.restxq"/>
    </category>    
        
    <!-- Logging 3rd party libraries -->
  
    <category name="org.eclipse.jetty" additivity="false">
        <priority value="info"/>
        <appender-ref ref="console"/>
    </category>
    
    <category name="httpclient" additivity="false">
        <priority value="info"/>
        <appender-ref ref="console"/>
    </category>
    
    <category name="net.sf.ehcache" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="exist.ehcache"/>
    </category>
    
    <!-- Milton WebDAV framework -->
    <category name="com.bradmcevoy" additivity="false">
        <priority value="info"/>
        <appender-ref ref="exist.core"/>
    </category>
    
    <!-- Apache Axis: 'debug' produces a large amount of debugging output -->
    <category name="org.apache" additivity="false">
        <priority value="off"/>
        <appender-ref ref="console"/>
    </category>
    
    <!-- Quartz scheduler -->
    <category name="org.quartz" additivity="false">
        <priority value="info"/>
        <appender-ref ref="exist.scheduler"/>
    </category>

	<category name="org.exist.storage.SystemTask" additivity="false">
		<priority value="debug"/>
		<appender-ref ref="exist.scheduler"/>
	</category>

    <!-- betterFORM extension -->
    <category name="de.betterform" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="exist.betterform"/>
        <!--
        <appender-ref ref="console"/>
        -->
    </category>


    <!-- ========[ROOT logger]======== -->
    <root>
        <priority value="info"/>
        <appender-ref ref="exist.core"/>
    </root>
    
</log4j:configuration>
