<!-- 
    Configures the stand-alone server: the stand-alone server is a minimal
    webserver with just three services enabled by default:
    webdav, xmlrpc, rest.
-->
<server port="8088" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema/server.xsd">
    <!-- 
        Enable the WebDAV, XML-RPC and REST services.
        The context attribute specifies to which context path
        the service will be mapped. Specify an url-pattern as 
        for a servlet-mapping. Example: /xmlrpc/* forwards all 
        paths beginning with /xmlrpc to the xmlrpc service.
    -->
    <webdav enabled="yes" context="/webdav/*"/>
    <xmlrpc enabled="yes" context="/xmlrpc/*"/>
    <rest enabled="yes" context="/*">
        <!-- 
            Special params: set form-encoding and container-encoding. If they
            are set to different encodings, eXist may need to recode form parameters.
        --> 
        <param name="form-encoding" value="UTF-8"/>
        <param name="container-encoding" value="UTF-8"/>
    </rest>
    <servlet enabled="no"
             context="/atom/*"
             class="org.exist.atom.http.AtomServlet"/>
    <!--
        Define URL forwardings
    -->
    <forwarding>
        <!-- 
            Define a forwarding for requests to the server root, i.e.
            if you access the server without specifying a path.
        -->
        <!--root destination="/db/admin/admin.xql"/-->
        <!-- 
            Other forwardings: all requests to the specified path
            will be forwarded to the destination.
        -->
        <forward path="/admin" destination="/db/admin/admin.xql"/>
    </forwarding>
</server>
