/* ***************************************************************************** */
/* ************** CSS STYLESHEET FOR STYLING XFORMS INSIDE OF HTML ************* */
/* this stylesheet should be used to overwrite styles in xforms.css **************/
/* ***************************************************************************** */
/*
form {
    margin: 20px;
}
*/

/* ***************************************************************************** */
/* ********************* GLOBAL PAGE STYLE RULES       ****************************** */
/* ***************************************************************************** */

/*
    These rules define the global page rules and may be changed freely to reflect
    the individual styling of the using site. Rules shouldn't be patched as this
    makes maintainance hard but be overwritten in your custom stylesheets or inline
    style rules.
*/
body{
    background:url( '../images/bgOne.gif' ) repeat-x scroll;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 30px;
    padding: 0;
    /*overflow: hidden;*/
}

/*
#fluxProcessor {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff url( '../images/betterform-logo_klein2.gif' ) no-repeat center center;
    position: absolute;
    z-index: 999;
}
*/

#caLogo {
    display: block;
    position: relative;
    text-align: right;
}

#caCopyright {
    position: absolute;
    /*bottom:0;*/
    right:0;
    font-size: 8pt;
    padding-right:20px;

}

#caLoading {
    top: 10px;
    right: 40px;
    padding: 3px;
}

.caMessagePane {
    display: block;
    position: fixed;
    z-index: 1000;
    border: solid;
    border-width: 1px;
    background-color: lightyellow;
    left: 20px;
    top: 20px;
    padding: 10px;

}
.caInactive {
    display: none;
}

#caLoading {
    position: absolute;
    z-index: 1000;
}

a.link {
    color: #444444;
}

a.visited {
    color: #444444;
}

a.active {
    color: #444444;
}

/* ################### some theme-specific (Dojo tundra) styles ################### */
.tundra * {
    font-family: sans-serif;
    font-size: 10pt;
}

.tundra .dijitToasterContainer{
    padding:2px;
    border:thin dotted gray;
}
.tundra .dijitToasterContent{
    font-size:smaller;
    color:black;
    padding-top: 2px;
    padding-bottom:2px;
    
}

.tundra .xsdDateTime .dijitError {
    background:#FFFFFF url(../images/validationInputBg.png) repeat-x scroll left top;    
}

.dijitError .dijitValidationIcon, .dijitError .dijitValidationIconText  {
    visibility:hidden;
}

/* #################### SPECIAL CONTROL APPEARANCE STYLES #################### */

/* matches all input widgets in the output*/
.xfInput .xfValue {
    height: 1.2em;
}

/* matches all popup calendars */
.xsdDateTime .xfDateTextBox {
    width:90px;
}

/* matches Rating control (range) */
.dojoxRating ul {
    padding: 0;
    margin: 0;
}

/* matches Rating control (range) */
.dojoxRatingStar {
    display: inline-block;
    background-image: url( ../images/rating_empty.gif );
    background-position: left center;
    position: relative;
    height: 15px;
    width: 15px;
    float: left;
}

/* matches Rating control (range) */
.dojoxRatingStarChecked {
    background-image: url( ../images/rating_full.gif );
}

/* matches Rating control (range) */
.dojoxRatingStarHover {
    background-image: url( ../images/rating_full.gif );
    opacity: .5;
}

/* needed to work with flowting layouts in Safari */
/*
.xsdString .xfValue{
    display:inline;
}
*/


/* ***************************************************************************** */
/* ********************* GENERAL XFORMS MIP AND COMMON-CHILD STYLES ************ */
/* ***************************************************************************** */

.xfInvalid .xfValue,
.xfInvalid .xfCheckBoxValue,
.xfInvalid .xfRadioLabel,
.xfInvalid .xfCheckBoxLabel,
.xfInvalid .dijitTextBox {
    /*
    	background-color:#F9F7BA; !important;
	*/
}

.tundra .xfControl .bfInvalidControl,
.tundra .xfControl .bfInvalidControl .xfDateTextBox,
.tundra .xfMinimalTextarea .bfInvalidControl .xfValue,
.tundra .xfControl .bfInvalidControl .xfTimeTextBox{
	/*border:1px solid #801B1B*/
	background:#FFCFCF;

}

.xfAlert {
	/*background:yellow;*/
	border:1px solid #801B1B;
	color:#801B1B;
	margin:3px;
  }

/* for tundra checkboxes */
.tundra .dijitCheckBox,
.tundra .dijitCheckBoxIcon {
    background-image: url( '../images/checkmarkNoBorder.png' ); /* checkbox sprite image */
    border: 1px solid gray;
    height: 14px;
    width: 14px;

}

/* matches selection open controls in tundra */
.tundra .xfSelectOpen .xfValue{
    width: 150px;
    display: block;
}

.xfSelectOpen .xfSelectFreeText {
    display: inline-block;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    position: relative;
    width: 152px;
    top: 0px;
}
.tundra .xfSelectOpen .dijitTextBox{
    width: 140px;
}


/*********** styles character used for signaling 'required' (normally '*') ***********/
.xfRequiredSymbol {
    color: darkred;
    font-size: larger;
}

.xfRepeat .xfLabel .xfRequiredSymbol {
    color: red;
    display: inline;
}

.xfOptional .xfRequiredSymbol {
    display: none;
}

#helpTrigger{
    position:absolute;
    top:10px;
    right:10px;
    z-index:999;
    border:thin solid steelblue;
    padding:3px;
}
.xfHelpPane {
    positon: absolute;
    top: 20px;
    right: 0px;
    height: 40px;
    width: 500px;
}

/*
.xfHelp{
    border:none;
    background-color:transparent;
}

.xfHelpText {
    */
/* width: 300px; */
/*
    border: thin dotted gray;
    background-color: #eee;
    padding: 10px;
}

.xfHelpSymbol {
    margin-left: 3px;
}
*/


/*
.xfTextarea > .xfValue {
    width: 380px;
}
*/

.caRefreshButton {
    display: block;
    float: right;
    background-color: rgb( 188, 216, 132 );
    border: thin solid gray;
    padding: 2px;
    margin-left: 10px;
}

/*********** Upload specific styles ***********/
/*********** Upload specific styles ***********/
/*********** Upload specific styles ***********/
.bfProgressbar {
    display: none;
}

.bfProgressbar .border {
    background: url( ../images/progress-remainder.gif ) repeat-x;
    margin-top: 1px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;
    height: 18px;
}

.bfProgressbar .background {
    background: url( ../images/progress-bar.gif ) repeat-x;
    height: 18px;
    width: 0%;
}

.xfDisabled .bfProgressbar {
    display: none;
}

.xfLabel {
	display:inline;
}

.xfDateTimeControl   {
	display:inline;
}
.xfDateTimeControl > xfLabel {
	float:left;
}

/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ********************* XFORMS GROUP STYLES      ****************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */

/*
.xfContainer{
}
*/
.xfGroup{
    /*display:block;*/
}
.xfGroup .xfControl .xfLabel {
    display: block;
    float: none;
    margin-left:0.2em;
    margin-top:0.4em;
}

/* ############################## Minimal GROUP STYLES ############################## */
/* ############################## Minimal GROUP STYLES ############################## */
/* ############################## Minimal GROUP STYLES ############################## */

.xfMinimalGroup .xfGroupLabel {
	display:block;
}
/* ############################## COMPACT GROUP STYLES ############################## */
/* ############################## COMPACT GROUP STYLES ############################## */
/* ############################## COMPACT GROUP STYLES ############################## */

.xfCompactGroup {
}

.xfCompactGroup .xfGroupLabel {
    display:block;
    width:100%;
}

.xfCompactGroup .xfControl{
	clear:both;
    display:inline;
}

.xfCompactGroup .xfControl .xfLabel {
	clear:both;
    display: block;
    float: none;
    margin-left:0.2em;
    aargin-top:0.3em;
}

/*
.xfCompactGroup div {
    display: block;
    float: left;
    clear: none;
}
*/

.xfCompactGroup .xfDisabled {
    display: none;
}

/* ############################## FULL GROUP STYLES ############################## */
/* ############################## FULL GROUP STYLES ############################## */
/* ############################## FULL GROUP STYLES ############################## */
.xfFullGroup .xfGroupLabel{
	display:block;
}

.xfFullGroup .xfControl {
    display:block;
	clear:both;
}

.xfFullGroup .xfLabel {
    width: 10em;
    float: left;
}

.xfFullGroup .xfDisabled {
    display: none;
}

.xfFullGroup .xfControl .xfLabel {
    text-align: left;
    width: 160px;
    vertical-align: top;
    display:block;
    /*float:left;*/
}

.xfFullSelect .xfSelectorItem .xfLabel {
    display:inline;
    float:none;
}

/*
.xfFullGroup  .xfFullSelect1 .xfSelectorItem .xfLabel {
    float:none;
    display:inline;
}
*/

.xfFullGroup .xfControl .xfValue {

    /*  conflicts with repeat
        position:absolute;
    */
    left: 200px;
    text-align: left;
}

.xfGroup {
    margin:0;
    padding:0;
}
/* ############################## CUSTOM GROUP STYLES ############################## */
/* ############################## CUSTOM GROUP STYLES ############################## */
/* ############################## CUSTOM GROUP STYLES ############################## */

.caHorizontalTableValue > .xfControl > .xfLabel{
	display:none;
}
.caVerticalTable .caHorizontalColumn .xfLabel{
    display:none;
}
.caVerticalTable{
    /*border:thin dotted;*/
    /*display:block;*/
}
/*
.caVerticalTable tr{
}
*/
.caVerticalTable td{
    /*border:thin solid;*/
}

.caVerticalTableLabel{
}
.caVerticalTableValue{
}

.caHorizontalTable{
    /*border:thin dotted;*/
    overflow:auto;
}
.caHorizontalTable td{
    vertical-align:top;
}
.caHorizontalTable .xfLabel{
    display:none;
}

.caHorizontalTableValue{

}
.caHorizontalTableLabel{

}
.caHorizontalTableValue .caHorizontalTableHeader{
    display:none;
}
.caHorizontalTableValue .caHorizontalTableLabel{
    /*display:none;*/
}

/*
.caHorizontalTable td{
    vertical-align:top;
}
*/
/* hide duplicate group-labels for horizontal groups */
.caHorizontalTable .xfContainer .xfGroupLabel{
    display:none;
}


/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ********************* REPEAT STYLES ***************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */

.xfRepeatIndex {
    background-color: lightyellow;
}

.xfRepeatIndex .xfValue {
    background-color: lightyellow;
}

/*
.xfRepeatItem .xfRepeatIndex {
    background-color: lightgreen;
}
*/

/*
.xfRepeatItem .xfRepeatIndex .xfValue {
    background-color: lightgreen;
}
*/

/*
.xfRepeatItem .xfRepeatItem  .xfRepeatIndex {
    background-color: violet;
}
*/

/*
.xfRepeatItem  .xfRepeatItem .xfRepeatIndex .xfValue {
    background-color: violet;
}
*/


.xfRepeatIndexMouseOver {
    background-color: lightblue;
}

.xfRepeatIndexMouseOver .xfValue {
    background-color: lightblue;
}

/*
.xfRepeatIndexMouseOver .xfRepeatIndexMouseOver{
    background-color: lightsalmon;
}
*/

/*
.xfRepeatIndexMouseOver .xfRepeatIndexMouseOver .xfValue {
    background-color: lightsalmon;
}
*/
/*
.xfRepeatIndexMouseOver .xfRepeatIndexMouseOver .xfRepeatIndexMouseOver{
    background-color: white;
}
*/

/*
.xfRepeatIndexMouseOver .xfRepeatIndexMouseOver .xfRepeatIndexMouseOver .xfValue {
    background-color: white;
}
*/

.xfMinimalRepeat {
    display: block;
}

.xfMinimalRepeat * {
    background-color: #eeeeee;
}

.xfFullRepeat {
    display: block;
}

.xfFullRepeat label {
    display: block;
    float: left;
    width: 100px;
}

.xfFullRepeat .xfRepeatItem {
    clear: both;
    /*display: block;*/
    padding: 5px;
}
.xfFullRepeat .xfRepeatItem  .xfControl {
	clear:both;
	display:block;	
}
.xfFullRepeat .xfRepeatItem  .xfMinimalGroup .xfControl {
	clear:none;
	display:inline-block;	
}

/* applies only to compact repeat and matches an empty cell at the right of the repeat table to dock insert and
delete actions to */
.xfRepeatItem .caRepeatActionDock {
    display: none;
    height: 18px;
    width: 40px;
}

.xfRepeatItem .caRepeatActionDock a {
    width: 40px;
}

.xfRepeatIndex .caRepeatActionDock {
    width: 40px;
    /*display: block;*/
}

/*
 .xfRepeatIndex .caRepeatActionDock > {
    width:39px;
    display:block;
}
*/

.caDeleteMouseOut {
    background: url( ../images/tabClose.gif ) no-repeat;
    background-position: center right;
    width: 34px;
    height: 18px;
}

.caDeleteOnMouseOver {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.caInsertBeforeMouseOut {
    background: url( ../images/insertBefore.png ) no-repeat;
    background-position: center center;
    width: 34px;
    height: 18px;
}

.caInsertBeforeOnMouseOver {
    height: 35px;
    padding-top: 0px;
    margin: 0;
}

.caInsertAfterMouseOut {
    background: url( ../images/insertAfter.png ) no-repeat;
    background-position: center center;
    width: 34px;
    height: 18px;
}

.caInsertAfterOnMouseOver {
    height: 35px;
}


.caTabContainer {    
    height: 600px;
    width:98%;
    overflow:auto;
}
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ********************* SWITCH STYLES ***************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
.xfSwitch {
	clear:both;
}

.xfFullSwitch {
    border-spacing: 0px;
}

.xfFullSwitchBody {
    background-color: #F0F4EA;
    border: 1px solid black;
    border-top: none;
}

.xfFullSwitch .caActiveTab {
    background-color: #F0F4EA;
    border: 1px solid rgb( 85, 96, 63 );
    border-right: none;
    border-bottom: #F0F4EA;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.xfFullSwitch .caActiveTab input {
    background-color: #F0F4EA;
    border: none;
}

.xfFullSwitch .caInactiveTab {
    background-color: rgb( 188, 216, 132 );
    border: 1px solid rgb( 85, 96, 63 );
    border-right: none;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.xfFullSwitch .caInactiveTab input {
    background-color: rgb( 188, 216, 132 );
    border: none;
}

.xfFullSwitch .caFillerTab {
    border: 1px solid rgb( 85, 96, 63 );
    border-top: none;
    border-right: none;
    width: 90%;
}

/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ********************* SELECT STYLES ***************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */

.xfFullSelect .xfValue .xfSelectorItem,
.xfFullSelect1 .xfValue .xfSelectorItem, {
/*
   clear:both;
	display:block;
*/
}

.xfReadWrite .dijitRadio, .xfReadWrite .dijitRadioIcon {
    background-image: url( ../images/checkmark.png );
    background-position: -112px 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;
}

.xfReadWrite .dijitRadioChecked {
    background-image: url( ../images/checkmark.png );
    background-position: -96px 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;

}

.xfReadOnly .dijitRadio, .xfReadOnly .dijitRadioIcon {
    background-image: url( ../images/checkmark.png );
    background-position: -144px 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;
}

.xfReadOnly .dijitRadioChecked {
    background-position: -129px 50%;
}

.xfReadWrite .dijitCheckBox, .xfReadWrite .dijitCheckBoxIcon {
    background-image: url( ../images/checkmarkNoBorder.png );
    background-position: -16px 50%;
    background-repeat: no-repeat;
    height: 14px;
    margin: 0;
    padding: 0;
    width: 14px;
}

.xfReadWrite .dijitCheckBoxChecked {
    background-image: url( ../images/checkmarkNoBorder.png );
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;

}

.xfReadOnly .dijitCheckBox, .xfReadOnly .dijitCheckBoxIcon {
    background-image: url( ../images/checkmarkNoBorder.png );
    background-position: -48px 50%;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
}

.xfReadOnly .dijitCheckBoxChecked {
    background-position: -32px 50%;
}

.caFishEye {
    margin: 10px;
    line-height: 22px;
    padding: 3px;
    display: block;
    font: 10px Arial sans-serif;
}

/*
 ########################################################################################
                Styles from Allcomponent:
 ########################################################################################
*/

.helpIcon {
    vertical-align: top;
}

.tundra .dijitCheckBoxIcon {
    background-image: url( ../images/checkmarkNoBorder.png );
}

.xfControl select {
    background-color: white;
}

.caHelpIcon {
    background-image: url( ../images/info22.png );
    background-repeat: no-repeat;
    background-position: center center;
    width: 18px;
    height: 18px;
}

.xfHelpIcon .dijitArrowButtonInner {
    background: transparent;
}

.xfHelpIcon .dijitButtonNode {
    border: none;
    background: transparent;
}

.xfHelpIcon button {
    width: 24px;
}

.xfHelpText * {
    font-family: 8pt sans-serif;
    font-size: 8pt;

}

.helpAttributeTableHeader {
    font-size: small;
    font-weight: bold;
    background-color: #D3D3D3;
}

.xfAccordion {
    float: left;
    margin-right: 30px;
    width: 900px;
    height: 750px;
    overflow: hidden
}

.xfTextareaHTML .xfValue {
    height: 240px;
    width: 500px;
}

.xfTextarea .RichTextEditable iframe {
	background-color:white;
	height:195px;
}


/* overwritten dojo styles */

.dijitBorderContainer {
    position: absolute;
}


.dijitAccordionBody {
    padding-top: 10px;
    padding-left: 5px;
}



/*##################################################################
                   START IMPORTANT STYLES (DO NOT OVERWRITE)
##################################################################*/
.xfDisabled {
	display:none;
}

/*##################################################################
                   END IMPORTANT STYLES
##################################################################*/


/*##################################################################
                   START Imported (overwritten) STYLES
##################################################################*/

/* START DOJOX/FORMS/RESOURCES/RANGESLIDER.CSS */
.dojoxRangeSlider .dijitSliderLeftBumperH,
    .dojoxRangeSlider .dijitSliderBottomBumperV {
    background: #FFFFFF !important;
}

.dojoxRangeSliderBarContainer {
    position: relative;
}

.dojoxRangeSlider .dijitSliderProgressBarV {
    position: relative !important;
}

.dojoxRangeSlider .dijitSliderProgressBar {
    overflow: hidden;
    cursor: pointer; /* background:yellow !important; */
}

.dojoxRangeSlider .dijitSliderProgressBarV {
    position: absolute !important;
    border-width: 0px;
}

.xfOutOfRange {
	background:transparent;
}

.xfInRange {
	background:transparent;
}
/* START DOJOX/FORMS/RESOURCES/RANGESLIDER.CSS */
/*##################################################################
                   END Imported STYLES
##################################################################*/


