<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2001, Adam Retter
    All rights reserved.

    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are met:
        * Redistributions of source code must retain the above copyright
          notice, this list of conditions and the following disclaimer.
        * Redistributions in binary form must reproduce the above copyright
          notice, this list of conditions and the following disclaimer in the
          documentation and/or other materials provided with the distribution.
        * Neither the name of the <organization> nor the
          names of its contributors may be used to endorse or promote products
          derived from this software without specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
    DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<web-app 
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    metadata-complete="false"
    version="5.0">

    <description>eXist-db – Open Source Native XML Database</description>
    <display-name>eXist-db XML Database</display-name>

    <servlet>
        <servlet-name>EXistServlet</servlet-name>
        <servlet-class>org.exist.http.servlets.EXistServlet</servlet-class>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>conf.xml</param-value>
        </init-param>
        <init-param>
            <param-name>basedir</param-name>
            <param-value>WEB-INF/</param-value>
        </init-param>
        <init-param>
            <param-name>start</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>hidden</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xquery-submission</param-name>
            <param-value>enabled</param-value>
        </init-param>
        <init-param>
            <param-name>xupdate-submission</param-name>
            <param-value>enabled</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
	
    <servlet>
        <servlet-name>XQueryURLRewrite</servlet-name>
        <servlet-class>org.exist.http.urlrewrite.XQueryURLRewrite</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>WEB-INF/controller-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>send-challenge</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>RestXqServlet</servlet-name>
        <servlet-class>org.exist.extensions.exquery.restxq.impl.RestXqServlet</servlet-class>
    </servlet>

    <!--
        ====================== URL space mappings =======================
    -->
    <!--
          IMPORTANT: the XQueryURLRewrite servlet filter does now serve as a single
          entry point into the web application. All eXist-related URL  mappings are
          handled by XQueryURLRewrite (see controller-config.xml).

          The servlet mappings below are thus commented out. We keep them here
          for documentation purposes. If you need to switch to the old setup,
          you can re-enable the mappings below and disable them in controller-config.xml.

          However, please note that some features of the website will only work if
          XQueryURLRewrite controls the /rest servlet  (EXistServlet).
     -->
    <!-- XQuery URL rewriter -->
    <servlet-mapping>
        <servlet-name>XQueryURLRewrite</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--
     ==================== various MIME type mappings ==================
    -->
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>application/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xsl</extension>
        <mime-type>application/xml+xslt</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xconf</extension>
        <mime-type>application/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xmap</extension>
        <mime-type>application/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ent</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>grm</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
</web-app>
