p, td {
    line-height:1.7em;
}

.title {
    font-style: italic;
}

a:link, a:visited { color: #5DB0E6; }

.help {
    text-align: left; 
    font-size: 120%; 
    margin-bottom: -1.2em; /*not beautiful!*/
}

.login {    
    text-align: right; 
    font-size: 120%; 
    margin-bottom: 4px;
}

.username { font-weight: bold; }

#page-head {
    height: 14em;
}

/*Tamboti
#page-head {
    height: 8em;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

#page-head .banner {
    position: absolute;
    right: .5em;
    }
#page-head .name {
    position: absolute;
    left: .5em;
    }
*/

.search-form {
}

#collection-tree {
    float: left;
    margin-top: 1em;
    background-color: #CCC;
    width: 40px;
    height: 390px;
}
#collection-tree-main {
}

.collection-tree-head {
    background-color: #CCCCCC;
}
.collection-tree-toolbar {
    height: 20px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
}
.collection-tree-toolbar li {
    display: inline;
    float: left;
    margin: 4px 8px 4px 0;
}
.collection-tree-toolbar img { border: 0; }
#toggle-collection-tree {
    margin: 8px 4px 8px 4px;
}

.language-label {
    padding: .5em;
}

.language-list {
    position: absolute;
    right: 2em;
}

.language-list option {
    margin: .25em .5em .25em .5em;
}

div.ui-dynatree-container {
    border: 0;
}

.box {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #CCC;
    color: #FFFFFF;
    margin-top: 100px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box p {
    margin: 8px 8px;
}

#main-content {
    margin-left: 50px;
}

.search-form td {
    padding: 4px 4px 0 4px;
    text-align: left;
}

td.collection-path {
    width: 800px;    
}

td.buttons button {
    display: inline;
    padding-left: 3em;
    text-align: center;
    }

.ui-autocomplete-input {
    width: 260px; 
}

.search-form input {
    width: 800px;
}

.search-form .small {
    width: 6px;
}

.search-form td input{
    width: 260px;    
}

td.dropdown{
    width: 1em;
}

table tr.repeat {
    background-color: white;
}

#form-submit {
    margin-left: 7em;
    }

#form-submit {
    font-weight: bold; 
    display: inline;
    padding-bottom:2px;
    padding-left:1ex;
    padding-right:1ex;
    padding-top:2px;}

.search-form .buttons button, .button {
    display: inline;
    padding-bottom:2px;
    padding-left:1ex;
    padding-right:1ex;
    padding-top:2px;
    text-align: center;    
}

.advanced-search {
    display:inline;
    padding-left: 10em;
    }
.search-form .collection-input {
    border: 0;
    width:800px;
}

#results-head {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #BBBBBB;
}

#messages {
    padding: 10px 8px;
}

#result-container {
}

#results {
    margin-top: 1em;
}

.repeat-selected {
    background-color: #CCC;
}

#filters {
    float: right;
    width: 240px;
    height: 320px;
    margin-left: 10px;
    padding: 4px;
}

#filters ul {
    list-style: none;
    margin: 0;
}

#filters .expanded .expand-img {
    background: url(minus.gif) no-repeat left bottom; 
}

#filters .expand-img {
    float: left;
    width: 14px;
    height: 14px;
    background: url(plus.gif) no-repeat left bottom;
}

#filters img {
    border: 0;
    text-align: center;
}

#filters li a {
    font-weight: normal;
}

.even {
    background-color: #E6E6E6;
}

.pagination {
}

.pagination-links {
    padding: 0 8px 0 8px;
    margin-bottom: 8px;
}

a {
color: black;
text-decoration: none;
font-weight: normal;
    
}
a:hover {
    text-decoration: none;
    color: blue;
    border-bottom: 0
}

.pagination-toggle {
    cursor: pointer;
    text-decoration: none;
    line-height:2em;
    padding: .2em;
    width:100%;
}

.pagination-link {
    margin-right: 1em;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    cursor: pointer;
    color: #0083CB;
}

.pagination-back {
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    color: #0083CB;
    margin-right: 10px;
}

.pagination-next {
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    color: #0083CB;
}

.inactive {
    border: 1px solid #CCC;
    color: #CCC;
}

.pagination-info {
    margin-left: 50px;
}

.pagination-list-view {
    margin-left: 50px;
}

.authors {
    display: none;
}

.pagination-n, .actions {
    width: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.subject td {
    vertical-align: middle;
    border: gray 1px;
    padding: 0;    
}

.biblio-full {
    background-color: white;
    width: 80%;
}

td .biblio-full .label {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    vertical-align: middle;
    width: 16em;
}

td .biblio-full .host {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    color: #5DB0E6;
    1margin: 10em;
    width: 16em;
}

td .biblio-full .sublabel {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    vertical-align: middle;
    color: gray;
    width: 10em;
}

td .biblio-full .deemph {
    text-align: right;
    vertical-align: middle;
    color: gray;
    width: 10em;
}

.biblio-full .record {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    width:40em;
}

.biblio-full .subrecord {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    width:40em;
}

.biblio-full .related td {
    margin: 10em;
    line-height:3.4em;
    border-top: 1px solid gray;
}

.biblio-full .related hr {
    color: #5DB0E6;
    background-color: #5DB0E6;
    height: 1px;
    border: none; 
}

.actions-toolbar {
    float: right;
}

.save {
    vertical-align: top;
}

.save img, .actions-toolbar img {
    border: 0;
    margin: 0;
}

.ui-widget {
    font-size:1em;
}

#optimize-trigger {
	float: right;
}

form ul li {
	list-style: none;
}

span.readable .ui-dynatree-title {
    font-weight: normal;
    color: #999;
}

.sharing-panel {
    border: 1px black solid;
    padding: 1em;
    margin-bottom: 2em;
}

.sharing-option {
    margin-top: 1em;
}

#group-members {
    margin-top: 1em;
    margin-bottom: 1em;    
}

#group-members-list {
    background-color: white;
    border: 1px solid #black;
    color: black;
    height: 8em;
    list-style: none;
    overflow: auto;
    width: 10em;    
}

#group-members-list li {
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
}

.labelWithCheckboxLeft {
    padding-left: 0.25em;    
}