<css>

/* default XRX style sheet */

empty {display: none;}



body {
   background-color: #DDD;
   font-family: arial, helvetica, verdana, sans-serif;
   margin:0;
   padding:0; 
}

.container {
    background-color: white;
    border: solid blue 1px;
    padding-left: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.content {
    margin-left: 10px;
}

#breadcrumb {
   color: blue;
   border: solid blue 1px;
   padding: 4px 6px;
   height: 25px;
   text-decoration: none;
}

img {
   border: none;
}

/* this makes sure the divs all are only 4pt high */
#header, #footer {
   font-size: 4pt;
}

#header a {
   text-decoration: none;
}

.horizontal-flags {
   display: block;
   height: 30px;
   background-image:url('../images/flags.png');
   background-repeat:repeat-x;
}

#footer {
   clear: both;
   text-align: center;
}

.left-nav {
   margin-left: 15px;
   font-size: 12pt;
}

.left-nav a {
   line-height: 25px;
   /* border: solid 1px blue; */
}

.header-text {
   font-weight: bold;
   font-size: 24pt;
}

.footer-text {
   font-size: 12pt;
}

.horiz-red-bar {
    color: red;
    background-color: red;
    width: 100%;
}

.horiz-white-bar {
    color: white;
    background-color: white;
    width: 100%;
}

.horiz-blue-bar {
    color: blue;
    background-color: blue;
    width: 100%;
}

/* delete confirm */
.warn  {background-color: pink; color: red; font-size: 16pt; line-height: 24pt; padding: 5pt; border:solid 2px black;}
.cancel  {background-color: lightgreen; color: green; font-size: 16pt; line-height: 24pt; padding: 5pt; border:solid 2px black;}

/* for unit tests */
.pass {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.fail {background-color: pink; color: red; }

/* app menu status */
.status-0 {background-color: pink;}
.status-25 {background-color: gold;}
.status-50 {background-color: yellow;}
.status-75 {background-color: lightblue;}
.status-100 {background-color: lightgreen;}



/* all the attributes of each tab, except the background color */
.tabs xf|trigger, tags a {
    border-left: black solid 1px;
    border-top: black solid 1px;
    border-right: black solid 1px;
    border-bottom: 0px;
    font-size: .9em;
    margin-right: 5px;
    padding: 3px;
    /* the following only works under FireFox */
    -moz-border-radius: .5em .5em 0em 0em;
    border-radius-topright: .5em;
    border-radius-topleft: .5em;
}

/* this is use to show that the currently selected tab will not do anything */
.tabs .selected xf|label {
    color: gray !important;
}

.tab1 {background-color: pink !important;}

.tab2 {background-color: orange !important;}

.tab3 {background-color: yellow !important;}

.tab4 {background-color: lightgreen !important;}

.tab5 {background-color: lightblue !important;}
/* the attributes of each div inside of a case */
.swap-view {
    position: absolute;
    top: 30px;
    border-left: solid black 1px;
    border-top: solid black 0px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

/* XForms specific things here */



/* this fixes the problems with XForms decenders for the lowercase letters gjpqy in the select1 values */
xf|select1 .xf-value {
    height: 1.65em;
}


/* This line ensures all the separate form elements appear on their own lines */
xf|input, xf|select, xf|select1, xf|textarea {display:block; width:100%; margin:10px 0;}

/* this is used for all the view-item.xq scripts to display the field label values in a table */
.field-label {
   text-align: right;
   font-weight: bold;
}



/* Makes the labels right aligned in a 260px wide column that floats to the left of the input controls. */
xf|input > xf|label, xf|select > xf|label, xf|select1 > xf|label, xf|textarea > xf|label 
{text-align:right; padding-right:10px; width:260px; float:left; text-align:right; font-weight: bold;}

/* Differentiate between required fields and non-required fields */
xf|input:required {font-weight: bold;}

/* Make the background be a light yellow **/
xf|input:required .xf-value {background-color:#fff6af;}
/* This adds a red asterisk after the required input fields */
*:required::after {font-weight:bold; font-size:1.5em; content: "*"; color: red; }


xf|group {
   border: solid black 1px;
   padding: 5px;
}

xf|label {background:#eee; font-weight:bold; padding:5px;}

/* data type specific formatting */

/* make a URI wide for long URLs */
.anyURI .xf-value, .xs\:anyURI .xf-value {width: 60ex;}
.byte .xf-value, .xs\:byte .xf-value {width: 4ex;}
.date .xf-value, .xs\:date .xf-value {width: 11ex;}
.dateTime .xf-value, .xs\:dateTime .xf-value {width: 23ex;}
.short .xf-value, .xs\:short .xf-value {width: 6ex;}
.unsignedByte .xf-value, .xs\:unsignedByte .xf-value {width: 4ex;}

/* align all the numerics to the right */
.decimal .xf-value, .xs\:decimal .xf-value, 
.integer .xf-value, .xs\:integer .xf-value, 
.positiveInteger .xf-value, .xs\:positiveInteger .xf-value
{text-align: right;}



</css>
