body {
  background-color: #ffffff;
  color: #4c4c4c;
  font-size: 12pt;
  font-family: "Trebuchet MS", Verdana, Geneva, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

th {
	text-align: left;
}

button {
    font-size: .75em;
}

.header {
    margin-bottom: 5px;
    padding-top: 10px;
    display: block;
    overflow: visible;
    height: 120px;
}

.header img {
  margin-left: 10px;
}

.info {
  position: absolute;
  vertical-align: top;
  right: 20px;
  color: #999999;
  font-size: x-small;
}

.info ul {
  padding-top: 0px;
  margin-top: 0px;
  list-style-type: none;
}

.content {
  clear: both;
  width: 100%;
}

.guide {
    position: absolute;
    margin-top: 16px;
    width: 25%;
    display: block;
    overflow: hidden;
    padding: 10px 5px 5px 5px;
    border-right: 1px solid #999999;
    vertical-align: top;
}

.guide a:link {
  color: #999999;
  text-decoration: none;
}
.guide a:visited	{
  color: #999999;
  text-decoration: none;
}
.guide a:active {
  color: #000000;
}
.guide a:hover {
  color: #000000;
}

.panel {
    position: absolute;
    left: 27%;
    width: 62%;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 10px;
    display: block;
    background-color: white;
    vertical-align: top;
}

.panel-head {
  font-size: large;
}

h1 {
    font-size: large;
    font-weight: normal;
}

h2 {
    font-size: 1em;
    font-weight: bold;
}

.inner-panel {
	margin-top: 20px;
}

.quartz-panel {
	margin-top: 20px;
}

#status {
    margin-left: 15px;
}

#status th {
    text-align: left;
    border-bottom: 1px solid black;
}

#status td.key {
}

.browse, .trace {
    margin-left: 15px;
    font-size: smaller;
}

.browse {
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

.browse th {
    text-align: left;
    border-bottom: 1px solid black;
}

.browse td.perm {
    font-family: Courier, monospace;
}

.process {
    padding: 5px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-size: small;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.process h3 {
    color: #999;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.process ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

.process li {
    margin-left: 0px;
}

.panel .actions {
    margin-top: 15px;
    margin-left: 15px;
    font-size: smaller;
    width: 100%;
}

.actions td { 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: bottom;
}

input {
    font-size: smaller;
}

.error {
    border: 1px solid #AA0000;
    padding: 10px;
}

.userinfo {
    text-align: right;
    font-size: small;
    margin-top: 100px;
}

.userinfo a:link {
    color: #0000AA;
    text-decoration: underline;
}

.userinfo a:visited {
    color: #0000AA;
    text-decoration: underline;
}

td.help {
    font-size: small;
    color: #0000AA;
}

.note {
    font-size: smaller;
    margin-left: 15px;
    margin-right: 15px;
}

.high {
    color: #00ff00;
}

.diffsource {
	width: 600px;
	overflow: auto;
}

.revisions, .backups, .trace {
	width: 620px;
}

td.last {
    text-align: right;
}

.spacing {
    margin-right: 3em;
}

.refresh {
    margin-top: 1em;
    margin-left: 15px;
}

.trace th {
    border-bottom: 1px solid black;
}

.trace a, .trace a:link {
    text-decoration: none;
}

.trace-calls, td.trace-calls {
    text-align: right;
}

.trace-elapsed, td.trace-elapsed {
    text-align: right;
}

.legend {
	font-size: .75em;
}
