@import url(xml2html.css);

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid blue;
    font-size: 75%;
}

#header h1 {
	font-weight: normal;
	font-size: 150%;
}

#header #menu {
    margin: 0.3em 0 0 0;
    padding: 0;
    float: right;
}

#menu li {
    list-style: none; 
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
}

#menu li a {
    color: #666666;
}

#content {
    margin: 5px 20px 0 20px;
    font-size: 75%;
}

#errors {
	height: 3em;
	margin-bottom: 3px;
	color: #AF0024;
}

#top-panel {
	border: 1px solid #FFD100;
}

#query-panel {
	background-color: #FEFFAF;
	padding: 3px 3px 3px 5px;
}

h2 {
	font-size: 100%;
}

p {
	margin-bottom: 3px;
}

label:after {
	content: ': ';
}

label {
	padding-right: 7px;
}

textarea {
    height: 7em;
    width: 100%;
}

#saved {
	width: 200px;
}

fieldset {
	border: 0;
	text-align: right;
	margin-top: 3px;
}

fieldset select {
	margin-right: 20px;
}

#buttons {
	float: left;
}

#submit {
	margin-right: 10px;
}

#save-panel {
	padding: 0 3px 3px 5px;
	background-color: #FEFFAF;
}

#save-panel h2 {
	margin: 3px 0;
}

#save-panel select, input {
	margin-right: 5px;
}

#description, #path {
	min-width: 400px;
}

#wrapper, #docname {
	min-width: 250px;
}

#collection {
	min-width: 250px;
}

#query-output {
	background-color: #FC6;
	margin-top: 5px;
	padding: 0 3px 3px 5px;
	border: 1px solid #FFD100;
}

#query-result {
	margin-top: 10px;
	height: 1em;
}

#navbar {
	width: auto;
	border: 0;
	font-size: 75%;
	margin-bottom: 10px;
}

#previous {
	float: left;
}

#current {
	text-align: center;
	color: white;
	font-weight: bold;
}

#next {
	float: right;
}

#output {
	font-size: 85%;
	overflow: auto;
	background-color: white;
}

.item {
	min-height: 2.5em;
}

/* Hack for internet explorer */
/*\*/
* html .item {
	height: 2.5em;
}

.even {
	background-color: #CDE9FF;
}

.pos {
	float: left;
	background-color: #ECF;
	font-size: 1.25em;
	padding: 2px;
	margin-right: 5px;
}