* {
    margin: 0;
    padding: 0;
}

@media screen {
    body {
        background-color: white;
    }
}

/* Font size adjustments. Copied from Yahoo YUI */
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
/**
 * Bump up IE to get to 13px equivalent
 */
pre,code,kbd,samp,tt {font-family:monospace;*font-size:108%;line-height:100%;}

p, .synopsis, .note, .example, .important, .formaltable {
    margin: 0 15px 1em 15px;
}

p, td {
    line-height: 1.7;
}

ol, ul {
    margin: 0 15px 1em 40px;
}

ul li, ol li {
    margin-bottom: .5em;
    margin-top: .5em;
    line-height: 1.5em;
}

a:hover {
    border-bottom: 1px solid gray;
}

a, a:visited {
    color: #0000AA;
    font-weight: bold;
    text-decoration: none;
}
#notes {
    border-top: solid 1px #DEDEDE;
}
#page-head {
	position: relative;
    margin: 25px 50px 5px 50px;
    height: 185px;
}
#page-head #navbar {
    margin: 10px 0 0 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
#page-head h1 {
    color: #0A0AA0;
    background-color: #FFF;
    border: 0;
    font-size: 1.375em;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}
#page-head #menu {
    margin: 0.3em 0 0 0;
    padding: 0 0 0 0;
    float: right;
}
#menu li {
    list-style: none;
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
}
#menu li.last {
    padding: 0 0 0 20px;
}
#menu li a {
    color: #666666;
}

#quicksearch {
	position: absolute;
	top: 92px;
	right: 0px;
	padding: 7px;
}

#quicksearch input {
	color: #666666;
	background-color: #F6F6F6;
}

@media print {
    #page-head {
        display: none;
    }
}

#footer {
    padding: 10px;
}

#sidebar {
    position: absolute;
    width: 160px;
    left: 50px;
    top: 215px;
    display: block;
    overflow: hidden;
}

@media screen {
    #content2col {
/*        left: 220px;
        right: 50px;
        top: 215px; */
        margin-left: 220px;
        margin-right: 50px;
        display: block;
        overflow: visible;
        background-color: white;
    }
    
    #content {
        position: absolute;
        left: 220px;
        right: 220px;
        top: 215px;
        display: block;
        overflow: visible;
        background-color: white;
    }
}

#news {
    position: absolute;
    width: 160px;
    top: 215px;
    right: 50px;
    display: block;
    overflow: hidden;
}

/* a block in the sidebar or the news */
.block {
    margin: 0 0 12px 0;
    background-color: #fff;
}
.block .head {
    background-color: #ddd;
    width: 100%;
}
#news .head {
    background-color: #fbd7a6;
}
.block h3 {
    font-size: 1em;
    padding: 3px 0 3px 10px;
    font-variant: normal;
}
.block ul {
    margin: 0;
    padding: 3px 0 5px 0;
    background-color: #f6f6f6;
}

.block .news_content {
    margin: 0;
    padding: 3px 0 5px 0;
    background-color: #fef7d6;
}

.block .news_content ul {
    background-color: #fef7d6;
}

.block li {
    display: inline;
    list-style-type: none;
    margin: 0;
    line-height: 1.5em;
}
.block p.date {
    text-align: right;
    font-size: .875em;
    font-style: italic;
    margin: 0 5px 0;
    border-bottom: 1px solid #999;
}
.block .headline {
    margin-bottom: 10px;
}
.block a {
    display: block;
    padding: 0 10px 3px 10px;
    color: #666;
    font-weight: normal;
    text-decoration: none;
}
.block a:hover {
    background-color: #ddd;
    border-bottom: none;
}
.block a:visited {
    color: #666;
    font-weight: normal;
}
#quotes {
    text-align: center;
    padding: 8px 5px;
}
#quotes blockquote {
    font-size: .75em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
#quotes blockquote:before {
    content: open-quote;
    font-weight: bold;
    font-family: serif;
    font-size: 1.6em;
}
#quotes blockquote:after {
    content: close-quote;
    font-weight: bold;
    font-family: serif;
    font-size: 1.6em;
}
#quotes .source {
    text-align: right;
    font-size: .75em;
    font-style: italic;
    padding-top: 3px;
}
.banner {
    text-align: center;
    margin-top: 20px;
}

@media print {
    #news {
        display: none;
    }
    #sidebar {
        display: none;
    }
}

#version-info {
    color: #666;
    position: absolute;
    font-size: .75em;
    right: 10px;
    top: 10px;
}
.toc {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: .85em;
    margin-left: 20px;
}
.toc li {
    list-style: none;
}
.tocitem2 {
    padding-left: 15px;
}
.chapter {
    background-color: white;
}
.abstract {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 2em;
}
h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    background-color: #0990EE;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-variant: small-caps;
    color: #666;
    line-height: 1.7em;
    margin: 15px 0 15px 0;
    border-bottom: 1px solid;
}
h3 {
    font-size: 1.33em;
    font-weight: normal;
    font-variant: small-caps;
    color: #666666;
    text-align: left;
    padding-left: 15px;
    margin-right: 20px;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    padding-left: 15px;
}

h5 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    padding-left: 15px;
}

input.mark {
    float: left;
    margin-left: -30px;
}
input.search {
    margin-left: 40px;
    padding: 10px;
    background-color: transparent;
    font-size: .75em;
    font-weight: bold;
}
input.view {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 9px;
}
input.search-button {
    margin-left: 20px;
    font-size: 9px;
    width: 70px;
}
select.choose {
    font-size: .66em;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #E1DD68;
}
.hi {
	background-color: #FFFF00;
}
.reference {
    margin-top: 30px;
    text-align: center;
}
.reference h3 {
    font-size: .75em;
    text-align: left;
    font-variant: normal;
}
#sidebar input.search-sidebar {
    margin-left: 10px;
    width: 120px;
}
#sidebar input.search-button {
    margin-top: 5px;
    margin-bottom: 15px;
}
.xmlsrc {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

.float-right {
    float: right;
    margin-left: 1em;
}

.float-left {
    float: left;
    margin-right: 1em;
}

.filename, .option {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}
.guimenu, .guimenuitem {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    padding: 0 3px;
    background-color:#FF7;
}
.classname {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.methodname {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.command {
    font-weight: bold;
}
.parameter {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}
.envar {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.function {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}
.variablelist {
    margin-left: 15px;
}
.variablelist td {
    font-size: 1em;
}
.variablelist th {
    font-size: 1em;
}
.screen {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    padding: 5px;
    overflow: hidden;
}
.synopsis {
    padding-left: 5px;
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    background-color: #fef3c1;
}

.authors {
    margin: 30px 0 50px 0;
    border-top: 1px solid #CCC;
}

.author {
    float: left;
    margin: 8px 0 15px 20px;
}

.authors .first {
    margin-left: 0;
}

.author a {
    font-size: .85em;
    font-style: italic;
}

.note, .example, .important {
    margin-top: 10px;
    margin-bottom: 10px;
}

.note h1, .example h1, .important h1 {
    font-size: 1em;
    color: black;
    border: 0;
    margin: 5px 0 0 10px;
}

.formaltable {
}

.formaltable h1 {
    background-color: inherit;
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0;
}

.note {
    background-color: #fac783;
}

.note h1 {
    background-color: #fac783;
}

.note .note_content {
    background-color: #fde7ca;
    border-left: 4px solid #fac783;
    border-right: 4px solid #fac783;
    border-bottom: 4px solid #fac783;
    padding: 5px 0;
}
    
.example {
    background-color: #c3d9ff;
}

.example h1 {
    background-color: #c3d9ff;
}

.example .example_content {
    background-color: #e0ecff;
    border-left: 4px solid #c3d9ff;
    border-right: 4px solid #c3d9ff;
    border-bottom: 4px solid #c3d9ff;
    padding: 0;
}

.example_content .dp-highlighter {
    margin: 0 !important;
}

.important {
    background-color: #f18b8b;
}

.important h1 {
    background-color: #f18b8b;
}

.important .important_content {
    background-color: #f8cbcb;
    border-left: 4px solid #f18b8b;
    border-right: 4px solid #f18b8b;
    border-bottom: 4px solid #f18b8b;
    padding: 5px 0;
}

@media print {
    .note .note_content, .example .example_content, .important .important_content {
        background-color: white;
        border: 0px;
    }
}

.figure {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 15px;
    text-align: center;
}
.figtitle {
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: underline;
}
.informaltable {

}
.screenshot {
    margin: 10px;
    text-align: center;
}
.variablelist {
    margin-left: 15px;
    margin-right: 15px;
}
.warning {
    border: 1px solid red;
    padding: 7px;
}
.warning p {
    font-size: .85em;
}
.warning h4 {
    font-weight: bold;
    color: red;
    margin: 5px 0;
}
.documentation {
    width: 100%;
    margin: 0 25px;
}
td {
    padding: 5px 0 5px 5px;
    font-size:1em;
}

th {
    padding: 5px 0 5px 5px;
    font-size:1em;
}
td.doclink {
    width: 25%;
    background-color: #F6F6F6;
}

#download {
    display: block;
    width: 212px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

#download:hover {
    border: 0;
}

#download img {
    border: 0;
    text-align: center;
}
