#f-results {
	margin-left: 15px;
}

#f-results-heading {
	background-color: #edc309;
	margin: 10px 0;
	padding: 0 5px;
}

#f-search .section {
	padding-bottom: 1em;
}

#f-search h3 {
	font-variant: normal;
	font-size: 1.1em;
	margin-bottom: 5px;
	padding: 0;
}

#f-search h4 {
	margin-bottom: 5px;
	padding: 0;
}

#f-search .summary {
	margin-left: 25px;
	background-color: transparent;
}

.hi {
	background-color: #ffff00;
	padding-left: .1em;
	padding-right: .1em;
	margin-left: .1em;
	margin-right: .1em;
}

.headings {
	border-bottom: 1px solid #D5D5D5;
	font-size: .9em;
}

.score {
    float: right;
    width: 120px;
    text-align: right;
    font-size: .85em;
    color: #C0C0C0;
}

td.previous {
	text-align: right;
}

td.hi {
	text-align: center;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: .5em;
	margin-right: .5em;
}

.summary a, .summary a:visited {
	color: inherit;
	font-weight: normal;
}

.summary a:hover {
}
