@import url(default-style2.css);

#roadmap {
    margin: 20px 5px 0 5px;
    border: 1px solid black;
    background-color: #ffffff;
    color: black;
    font-size: 1em;
}
#roadmap th {
    background-color: #555555;
    padding: 5px;
    color: white;
    font-size: 1.125em;
}

#roadmap .remark {
    font-size: .9em;
}

#roadmap .module {
 background-color: #888888;
 color: white;
 font-size: 1.125em;
 }
 
 #roadmap .part {
 background-color: #AAAAAA;
 color: black;
 font-size: 1em;
 }
 
 .update {
     font-weight: bold;
 }
 
 .Highest {
 background-color: #FF6A65;
 color: black;
 }
 .High{
 background-color: #FF8A65;
 color: black;
 }
 .Avg {
 background-color: #FFAA65;
 color: black;
 }
 .Low {
 background-color: #FFCA65;
 color: black;
 }
 .x {
 background-color: #FFEA65;
 color: black;
 }
 .P0{
 background-color: #F0FFDF;
 color: black;
 }
 .P20{
 background-color: #E0FFBF;
 color: black;
 }
 .P40{
 background-color: #E0FF9F;
 color: black;
 }
 .P60{
 background-color: #D0FF5F;
 color: black;
 }
.P80{
 background-color: #B0FF5F;
 color: black;
 }
.P99{
 background-color: #80FF3F;
 color: black;
 }
 .Done{
 background-color: #40FF0E;
 color: black;
 }
 .legend h1 {
 margin: 50px 0 20px 0;
 text-align: center;
 }
 .legend table{
 margin: 50px 0 20px 0;
 width: 80%;
 }
 .legend th{
 height: 50px;
 background-color: #777777;
 color: white;
 font-size: 14px;
 }
 
