main/lib/betterform-exist-*.jar
main/lib/infinispan-commons-6.0.0.Final.jar
main/lib/infinispan-core-6.0.0.Final.jar
main/lib/jboss-logging-3.1.2.GA.jar
main/lib/jboss-logging-processor-1.1.0.Final.jar
main/lib/jboss-logmanager-1.2.0.GA.jar
main/lib/jboss-marshalling-1.3.18.GA.jar
main/lib/jboss-marshalling-river-1.3.18.GA.jar
main/lib/jboss-modules-1.1.0.Beta1.jar
main/lib/jboss-transaction-api_1.1_spec-1.0.1.Final.jar
main/lib/jcip-annotations-1.0.jar
main/lib/jdeparser-1.0.0.Final.jar
main/lib/jgroups-3.4.1.Final.jar
