@import url(default-style.css);

@media screen {
    body {
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 1.4;
        padding: 0 5% 0 5%;
        overflow: auto;
    }
    
    p, ul, ol {
        font-size: 13px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #sidebar {
        width: 18%;
        left: 6%;
        min-height: 600px;
    }
    
    #content2col {
        left: 25%;
        width: 68%;
        min-height: 600px;
    }
}

#sidebar form li {
    display: block;
}

#sidebar form a {
    display: inline;
}

#sidebar fieldset {
    margin: 8px 0 0 0;
    border: none;
    padding: 0;
}

#sidebar label {
    font-size: 8pt;
}

#sidebar .button {
    border: solid 1px #f66;
    font-size: 8pt;
    cursor: pointer;
}

#navigation {
    background: #fff;
    border: 1px solid #999;
    padding-bottom: 20px;
}

#navigation h3 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 1em;
    background-color: #ddd;
    border-bottom: 1px solid #999;
}

#navigation ul {
}

#navigation li {
    font-size: 8pt;
    display: inline;
    list-style: none;
    padding: 0 15px 0 15px;
    border-right: 1px solid #999;
}

#navigation label {
    padding: 0 5px;
    font-weight: bolder;
}

#navigation input {
    border: solid 1px #f66;
    font-size: 8pt;
    cursor: pointer;
}

#link-next, #link-prev {
    display: block;
    font-size: 8pt;
}

#link-next {
    float: right;
}

#link-prev {
    float: left;
}

#navigation select {
    font-size: 8pt;
}

.userinfo {
    display: block;
    font-size: small;
    text-align: right;
    margin-top: 40px;
    margin-right: 15px;
    color: #aaaaaa;
}

#login {
    border: 1px solid #999;
    margin-left: 15px;
}

#login tr th {
    background: #ddd;
    color: #AA0000;
}

#query {
    border: 1px solid #999;
    font-size: smaller;
    margin-left: 15px;
}

#query tr th {
    background-color: #AAA;
    text-align: left;
    font-weight: bold;
    color: #FFFFFF;
}

.more {
    padding: 0;
    margin: 8px 0 0 0;
    text-align: left;
    border-left: 1px solid rgb(65%, 75%, 65%);
}

.more li {
    list-style: none;
    display: inline;
    border-right: 1px solid rgb(65%, 75%, 65%);
    padding: 0 0.5em;
}

.more a, .more a:visited {
    color: #8B8B8B;
    font-size: smaller;
    font-weight: bold;
}
    
.more a:hover {
    color: #FFF;
    background-color: #8B8B8B;
    font-size: smaller;
    font-weight: bold;
}

.mods-name {
}

.mods-title {
    font-weight: bold;
    color: #5A5A5A;
}

#results {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
}

#results a:hover {
    border: 0;
}

#results th {
    text-align: left;
}

#results td {
    vertical-align: top;
    padding: 4px;
}

#results .names {
    width: 160px;
}

#results .year {
    width: 60px;
}

.record-short {
    font-family: Georgia, Times New Roman, serif;
}

.record-short a:hover {
    background-color: #FFF;
}

.record-full {
    font-family: Georgia, Times New Roman, serif;
    margin: 8px 8px 0 8px;
    padding: 5px;
    border: 1px dotted #50497A;
}

.record-full .titles {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}

.record-full h1 {
    font-size: 1.1em;
    font-family: Verdana, Arial, sans;
    font-stretch: semi-expanded;
    background-color: #FFF;
    color: #5A5A5A;
    border: 0;
    margin: 0;
    padding: 0;
}

.record-full h2 {
    font-size: 1em;
    font-family: Verdana, Arial, sans;
    font-style: italic;
    color: black;
    background-color: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.record-full .abstract {
    margin: 1em 1em 0 1em;
}

.record-full .url {
    text-align: right;
    margin-top: 0;
    padding-top: 0;
}

.record-full table {
    padding: 8px 0 0.5em 1em;
}

.record-full tr {
    margin: 0;
    padding: 0;
}

.record-full td {
    vertical-align: top;
}

.record-full th {
    font-weight: normal;
    font-style: italic;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
}

.hidden {
    display: none;
}

.visible {
    display: table-row;
}

/* Styles for the livesearch box: */
#livesearch {
    display: block;
    min-width: 80px;
}

.textfield {
    width: 125px;
}

#LSResult {
    position: absolute;
    background-color: #aaa; 
    min-width: 160px; 
    margin: 1px 0px 2px 0px;
    padding: 0px;
}
      
#LSShadow {
    right: 1px;
    margin: 0px;
    padding: 0px;
    background-color: #666; /*shadow color*/
    color: inherit;
}
      
.LSRes {
    position: relative;
    bottom: 1px;
    right: 1px;
    background-color: white;
    border:  1px solid #AAA;
}

#LSHighlight {      
    color: #564b47;  
    background-color: #ccc;
}