<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>Demo App</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a class="demo:link-to-home" href="/" id="logo">eXistDB</a>
                    </div><!--/header-->
                    <div id="navigation">
                        <ul id="nav" class="dropdown dropdown-horizontal">
                            <li class="dir" id="about">
                                <span>Home</span>
                                <ul>
                                    <li>
                                        <a href="" class="templates:fix-links?root=context">Home</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="container" id="main">
                        <div class="row" id="container-body">
                            <!-- Page content will be injected into the div below -->
                            <div class="span9" id="content"/>
							<!-- Right hand column: 3 wide -->
                            <div class="span3">
                                <!--div class="box templates:fix-links">
                                    <h2>Demo Pages</h2>
                                    <ol>
                                        <li>
                                            <a href="/examples/basic/basics.html">Basic XQuery Examples</a>
                                        </li>
                                    </ol>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a class="demo:link-to-home" href="/">Homepage</a>
                </li>
            </ul>
            <div id="copyright">
                <p>Copyright eXist-db Project 2012</p>
            </div><!--/copyright-->
        </div><!--/footer-->
    </body>
</html>
