<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>Demo App</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
    </head>
    <body>
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a href="index.html" id="logo">eXistDB</a>
                    </div><!--/header-->
                    <div id="navigation">
                        <ul id="nav" class="dropdown dropdown-horizontal"/>
                    </div>
                    <div id="main">
                        <!-- Page content will be injected into the div below -->
                        <div id="content"/>
                        <div id="right">
                            <div id="r-top">
                                <div id="r-bot">
                                    <h2>Links</h2>
                                    <ol>
                                        <li>
                                            <a href="index.html">Entry page</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a href="#">Documentation</a>
                </li>
            </ul>
            <div id="copyright">
                <p> Copyright eXist 2011</p>
                <p>
                    <a href="http://www.jameshambly.com"> Designed by JamesHambly.com</a>
                </p>
            </div><!--/copyright-->
        </div><!--/footer-->
    </body>
</html>