body {
    font-family: arial,helvetica,clean,sans-serif;
    font-size: 13ex;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.231;
}

