# This file controls what file are to be put on classpath or command line.
#
# Copied from Jetty and adopted to eXist.
#
# Format is as follows:
# Each line contains entry for one JAR file.
# Format of line:
#
#  <subject> [ <space> <condition> ]*
# 
# where <subject> 
#   ends with ".class" is the Main class to run.
#   ends with ".xml" is a configuration file for the command line
#   ends with "/" is a directory from which add all jar and zip files from. 
#   ends with "/*" is a directory from which add all unconsidered jar and zip files from. 
#   all other subjects are treated as files to be added to the classpath.
# Files starting with "/" are considered absolute, all others are relative to
# the home directory.
#
# <condition> is one of:
# "always"
# "never"
# "available" <space> <classname>
# "!available" <space> <classname>
# "java" <space> <operator> <version>
# "nargs" <space> <operator> <number>
# "mode" <space> <operator> <modename>
# <modename> is one of "client", "standalone" or "jetty"
#  <operator> := one of "<",">","<=",">=","==","!="
#
exist.jar							always
exist-optional.jar				always
examples.jar					always
lib/endorsed/*					always
lib/core/antlr.jar				always
lib/core/commons-pool-1.1.jar	always
lib/core/excalibur-cli-1.0.jar	mode != jetty
lib/core/jakarta-oro-2.0.8.jar	always
lib/core/libreadline-java.jar	always
lib/core/log4j-1.2.8.jar		always
lib/core/resolver-20030708.jar 	always
lib/core/xmldb.jar				always
lib/core/xmlrpc-1.2.jar			always
lib/core/javax.servlet.jar		always
lib/core/jEdit-syntax.jar		mode == client
lib/optional/*					mode == jetty
lib/optional/*					mode == other
Jetty-4.1.4/lib/*				mode == jetty
lib/*							always
