<css>
@namespace xf url(http://www.w3.org/2002/xforms);

.help {
    font-size: 130%; 
    margin-left: 3.25em;
    margin-top: -.45em;
}

.help a {
    color: #5DB0E6;
}

body
    {
  /*overrules xsltforms.css*/
  background-color: #ffffff !important;
}

#page-head {
    height: 16em;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.level-1 .xforms-repeat-item-selected
{
    background-color:#F2F5FC;
}

#page-head-left {
    position: absolute;
    margin-top: .45em;
    left: 4.15em;
}

#page-head-right {
    position: absolute;
    right: 4.15em;
    margin-top: 1.5em;
}

.span-24, div.span-24 {
    /*overrules xsltforms.css*/
    width:100% !important;
}

.container {
    /*overrules xsltforms.css*/
    padding-top: 0.5em !important;
    padding-right: 1em !important;
    padding-top: 0.5em !important;
    padding-left: .25em !important;
    margin-top: -2em !important;
    border-color: gray !important;/*overrules xsltforms.css*/
    margin-bottom: 1em !important;/*overrules xsltforms.css*/
    width: 1150px !important;/*overrules xsltforms.css*/

}

.header {
    font-size: 150%;
    margin-left: 1em;
}

.footer {
    font-size: 100%;
    margin-left: 1em;
}

caption, 
th, 
td 
    {
    text-align: center;
    font-weight: normal;
}

.float-right {
    float: right; 
    margin-right: 2px;
    margin-top: -1.5em;
    }

.toggle-button button {
    margin-top: -1.5em;
    }

#page-head #navbar {
    margin: 10px 0 0 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
#page-head h1 {
    color: #0A0AA0;
    background-color: #FFF;
    border: 0;
    font-size: 1.375em;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}
#page-head #menu {
    margin: 0.3em 0 0 0;
    padding: 0 0 0 0;
    float: right;
}
#menu li {
    list-style: none;
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
}
#menu li.last {
    padding: 0 0 0 20px;
}
#menu li a {
    color: #666666;
}

#quicksearch {
	position: absolute;
	top: 92px;
	right: 0px;
	padding: 7px;
}

#quicksearch input {
	color: #666666;
	background-color: #EDEDED;
}

@media print {
    #page-head {
        display: none;
    }
}

/*That an input is required is shown by the absence of a delete button.*/
.xforms-required .xforms-required-icon, 
.xforms-alert-icon 
    {
    display:none;
}

button { 
    margin: .5em;
    background-color: #EDEDED;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: .2em;
    vertical-align: middle;
    text-align: center;
    -moz-border-radius: .4em;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    }

.compact button,
.title button,
.name button,
.origin button,
.physical-description button,
.target-audience button,
.language button,
.type button,
.genre button,
.subject button,
.classification button,
.abstract button,
.table-of-contents button,
.note button,
.related button,
.identifier button,
.record-info button,
.access-condition button,
.location button,
.extension button,
{
    width: 20em;
}

/* style every table data as a tab if the table has a class of tabs */

table .tabs {
    border: 1em solid black
    }

.tabs tr td 
    {
    color: gray;
    font-size: 12px;
    border: 1px solid #BEBEBE;	/*outset #BBB*/
    text-decoration: none;
    text-align: center;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
 }

.tabs tr td .selected {
    background: #fff;
}

/* this styles just the lower sub-tab row that has labels inside of triggers */
.tabs tr td xf|trigger xf|label {
    color: gray;
    /* this keeps the tabs on a single line.  */
    /* white-space:nowrap; */
    }

fieldset,
.block-form .xforms-repeat-item,
.block-form .xforms-repeat-item-selected,
.node-adds
    {
    border-width: 1px;
    border-style: solid;
    padding-top: 1em;
    padding-bottom: .5em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    margin-top: .5em;
    margin-bottom: 1em;
    -moz-border-radius: .75em;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    }

.block-form xf|label {
    display: inline-block;
    width: 12em; /* fix the width of all the labels in the block form */
    margin-right: 5px; /* margin to the right of the colon before the input area */
    text-align: right; /* right justification makes the text easier to read */
    vertical-align: top;
    padding-top: .5em;
    margin-bottom: .1em;
    }

.join {
    margin-bottom: .75em;
    font-weight: bold;
    border-style: solid;
    background-color: #EDEDED;
    border-width: 1px;
    padding: .3em 1em .3em 1em;
    width: 15em;
    height: 1.5em;
    margin-top: -2.75em; /*to make the fieldset border hit the centre of the box*/
    margin-left: 1.55em;
    margin-bottom: .75em;
    text-align: center;    
}

.wide {
    width: 20em !important;
}

.extra-wide {
    width: 25em !important;
}


.join .float .xforms-group .xforms-group-content
{
    float:left;
}

input    {
    padding: .2em; /*to give a little less cramped input field*/    
    }

.block-form .xforms-group-label-centered { /*button text*/
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    margin: auto;
}

xf|submit xf|label.xforms-group-label-centered-general { /*buttons outside the form*/
    text-align: center;
    padding: 0;
    vertical-align: middle;
    margin: auto;
}

.xforms-case {
    margin-bottom: 3ex;
    margin-top: auto;
}

.xforms-group-content {
    vertical-align: top;
    margin-bottom: 0;    
}

xf|group xf|trigger.delete-button { /*for field delete buttons - sizing does not work*/
    vertical-align: top;
    width: 4px !important;
    margin-right: -5em;    
}

#fieldset-relatedItem-anthology-name xf|group xf|trigger.multiple,
#fieldset-relatedItem-anthology-name .join .multiple
{
    float:left;
}

.text_10 .xforms-value {
    width: 10em;
    }
.text_50 .xforms-value {
    width: 25em;
    }
.text_100 .xforms-value {
    width: 40em;
    }
.text_150 .xforms-value {
    width: 60em;
    }
.textarea .xforms-value  {
    width: 40em; 
    height: 3em; 
    padding: .2em;
    }

div.join span.xforms-hint { /*the hard-coded fieldset hints*/
    margin-left: 1px;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    color: #cccccc;
    cursor: help;    
}

span.xforms-hint-icon:after { /*the regular hints*/
    color: #B3B3B3;
    padding: 1px;
    content: "?";
    margin-left: -1.2em;
    margin-right: .2em;
    margin-bottom: 2em;
}

span.xforms-hint-icon { /*negating the xsltforms.css hint icon*/
    background-image:url("x.xxx");
}

.join-button .xforms-control button
{
    width: 1.75em !important;
    height: 1.75em;
    padding: 0;
    margin: 0 .5em 0 .5em;
}

.wide .xforms-control button
{
    width: 2.5em !important;
}

.join-button .xforms-control button .xforms-label {
    display: inline;
    width: 1em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.title-button   {
    margin: .5em;
}

.title-button span.xforms-hint-icon  {
    margin-left: .5em;
}

.node-button .xforms-control button {
    height: 2em;
    width: 2em;
    padding: 0;
    margin: 0;
}

.node-button .xforms-control button .xforms-label {
    display: inline;
    width: 1em;
    text-align: center;
    padding: 0;
    1margin: 0 0 -2em 0;
}

.xforms-case .node-button {
    margin-bottom: -1.75em;
    margin-left: .5em;
    margin-right: 0;
    margin-top: -.5em;
}

.node-adds {
    margin-top: 2.25em;
}

div.xforms-help-value, 
div.xforms-alert-value, 
div.xforms-hint-value 
    { 
    text-align: left;
    color: gray;
    display: none;
	background-color: white;
	position: absolute;
	border: gray 1px solid; 
	width: 40em;
	margin: 1em;
	padding: 1em 1em 0 1em;
	z-index: 1;
}
 
.compact div.xforms-hint-value 
 {
    width: 70em;
}

div.xforms-hint-value strong 
 {
    color: #3681B3;
}
div.xforms-hint-value p 
 {
    margin-bottom: .5em;
}

.xforms-value {
    padding-left: .25em;
}

/*compact*/

.compact #fieldset-namePart label,
.compact #fieldset-place label,
.compact #fieldset-publisher label,
.compact #fieldset-dateIssued label,
.compact #fieldset-extent label
    {
    margin-left: -1em;
    }

.compact #fieldset-note select {
    margin-left: 2.45em;
}
.compact #fieldset-role select {
    margin-left: -1.5em;
}


.compact #fieldset-namePart input,
.compact #fieldset-relatedItem-periodical-namePart input,
.compact #fieldset-relatedItem-anthology-namePart input,
.compact #fieldset-relatedItem-series-namePart input
    {
    margin-left: -10em;
    }

fieldset,
.xforms-repeat-item,
.xforms-repeat-item-selected
{
    border-color: #CCC;
}

.node-adds, 
.node-adds-title, 
.xforms-label,
.join
{
    color: #3681B3;
}

body 
    {
    border-color: #3681B3;
}

.compact button {
    1margin-left: 4.25em;
}

.compact fieldset .level-2, 
.compact fieldset .level-3 
{
    margin-bottom: .5em;
    margin-top: 2.25em !important;
}
.compact .block-form,
.compact label .xforms-value
{
    border: 0;
}

.compact .textarea .xforms-value  {
    width: 50em; 
    height: 4em; 
    margin: 0 0 0 2em;
    }

.compact input .xforms-value {
    border: grey 1px solid;
    height: 1.5em;
    margin: .1em 0 0 2.4em;
}

.compact xf|input {
    margin-bottom: 0.25em;
    margin-top: 0;
    height: 1.5em;
}

.compact .xforms-repeat-item,
.compact #relatedItem-place-anthology-repeat .level-3,
.compact #relatedItem-place-periodical-repeat .level-3,
.compact #relatedItem-place-series-repeat .level-3,
.compact #fieldset-placeTerm .level-3
{
    border: 0;
    margin: 0 !important;
    padding: 0 !important;
}
.compact #fieldset-dateIssued .level-2 {
    margin-bottom: 1em !important;
    }

fieldset .level-1
    {
    margin-top: 1em;
    margin-bottom: 1em;    
}
/*
.level-2,
.level-3
{
    margin-top: 2em;
    margin-bottom: 2em;    
}
*/
/*
fieldset .level-2 .xforms-group-content,
fieldset .level-3 .xforms-group-content{
    margin-bottom: .5em;    
}
*/
fieldset .level-2,
fieldset .level-3
    {
    margin-top: 2.5em;
    margin-bottom: 2em;
}

.origin fieldset .level-2,
.part fieldset .level-2,
.physical-description fieldset .level-2
    {
    margin-top: 4em;
    1margin-bottom: 2em;
}

.compact #relatedItem-titleInfo-anthology-repeat .xforms-repeat-item .xforms-group-content,
.compact #relatedItem-titleInfo-periodical-repeat .xforms-repeat-item .xforms-group-content,
.compact #relatedItem-titleInfo-series-repeat .xforms-repeat-item .xforms-group-content
{
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.compact #publisher-repeat .xforms-repeat-item,
.compact #date-issued-repeat .xforms-repeat-item
{
    margin-left: -3em;
    margin-top: 0;
    margin-bottom: 0;
}

.physical-description .node-adds {
    margin-bottom: 2.5em;
}

.table-of-contents .textarea .xforms-value {
    height: 10em;
}

.note .textarea .xforms-value {
    height: 10em;
}

.identifier .textarea .xforms-value {
    height: 10em;
}

</css>
