<css>
@namespace xf url(http://www.w3.org/2002/xforms);

body
    {
  /* background-color: #eeeeee !important;/*overrules xsltforms.css*/
  background-color: #ffffff !important;
}

caption, 
th, 
td 
    {
    text-align: center;
    font-weight: normal;
}
legend {
    font-weight: bold;
    display: inline-block;    
}

.float-right {
    float: right; 
    margin-right: 2px;
}

#page-head {
	position: relative;
    margin: 25px 50px 5px 50px;
    height: 185px;
}
#page-head #navbar {
    margin: 10px 0 0 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
#page-head h1 {
    color: #0A0AA0;
    background-color: #FFF;
    border: 0;
    font-size: 1.375em;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}
#page-head #menu {
    margin: 0.3em 0 0 0;
    padding: 0 0 0 0;
    float: right;
}
#menu li {
    list-style: none;
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
}
#menu li.last {
    padding: 0 0 0 20px;
}
#menu li a {
    color: #666666;
}

#quicksearch {
	position: absolute;
	top: 92px;
	right: 0px;
	padding: 7px;
}

#quicksearch input {
	color: #666666;
	background-color: #F6F6F6;
}

@media print {
    #page-head {
        display: none;
    }
}

/*That an input is required is shown by the absence of a delete button.*/
.xforms-required .xforms-required-icon, 
.xforms-alert-icon 
    {
    display:none;
}

button { 
    margin: .5em;
    background-color: #eeeeee;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    1padding: .1em .5em .1em .5em; /*defines the smallest button, the field delete button; all the other buttons have labels with classes that expand them to their proper size*/
    1height: 2em;
    1width: 2em;
    padding: .2em;
    1padding-right: .5em;
    vertical-align:middle;
    text-align: center;
    -moz-border-radius: .4em;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    }

.xforms-group-label-centered { 
    padding: .5em 1em .5em 1em !important;
    width: 15em !important;/*same as .join*/
    1height: 5em !important;
    }

.container {
    border-color: gray !important;/*overrules xsltforms.css*/
    border-width: 2px !important;/*overrules xsltforms.css*/
    margin-bottom: 1em !important;/*overrules xsltforms.css*/
    width: 1050px !important;/*overrules xsltforms.css*/
    }

/* style every table data as a tab if the table has a class of tabs */
.tabs tr td 
    {
    color: gray;
    font-size: 12px;
    background: #eeeeee;
    border: 0.1em solid gray;	/*outset #BBB would make it look like a button */
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 2px 3px;
    /* round the top corners - works under FireFox */
    -moz-border-radius: .75em .75em 0em 0em;
 }

/* this styles just the lower sub-tab row that has labels inside of triggers */
.tabs tr td xf|trigger xf|label {
    color: gray;
    /* this keeps the tabs on a single line.  */
    /* white-space:nowrap; */
    }

fieldset,
.block-form .xforms-repeat-item,
.block-form .xforms-repeat-item-selected,
.node-adds
    {
    border-width: 2px !important; /*it should not be necessary to overrule here; otherwise outer fieldset is only 1px in FireFox*/
    border-width: 2px;
    border-style: solid;
    padding: 1.5ex;
    margin-bottom: 2.5ex;
    -moz-border-radius: .75em;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    }

.block-form xf|label {
    display: inline-block;
    width: 12em; /* fix the width of all the labels in the block form */
    margin-right: 5px; /* margin to the right of the colon before the input area */
    text-align: right; /* right justification makes the text easier to read */
    vertical-align: top;
    padding-top: .5em;
    margin-bottom: .1em;
    }


.join { /*bad class name used for aligning hint in fieldset labels with title*/
    margin-bottom: .75em;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    background-color: #eeeeee;
    border-width: 2px;
    padding: .3em 1em .3em 1em;
    width: 15em;
    margin-top: -2.75em; /*to make the fieldset border hit the centre of the box*/
    text-align: center;
    margin-bottom: .75em;    
}

input {
    padding: .2em; /*to give a little less cramped input field*/    
}

.block-form .xforms-group-label-centered { /*button text*/
    color: gray;
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    1width: 30ex;
    margin: auto;
}

xf|submit xf|label.xforms-group-label-centered-general { /*buttons outside the form*/
    color: gray;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    margin: auto;
}

.xforms-case {
    margin-bottom: 3ex;
    margin-top: auto;
}

.xforms-group-content {
    vertical-align:top;    
}

xf|group xf|trigger.delete-button { /*for field delete buttons - sizing does not work*/
    vertical-align: top;
    width: 4px !important;
    margin-right: -5em;    
}

.text_10 .xforms-value {
    width: 5em;
    }
.text_50 .xforms-value {
    width: 25em;
    }
.text_100 .xforms-value {
    width: 40em;
    }
.textarea .xforms-value {
    width: 40em; 
    height: 3em; 
    padding-top: 2px;
    }

div.join span.xforms-hint { /*the fieldset hints*/
    margin-left: 1px;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    color: #cccccc;
    cursor:help;
}

span.xforms-hint-icon:after { /*the regular hints*/
    color: #B3B3B3;
    padding: 1px;
    content: "?";
    margin-left: -1.2em;
    margin-right: .2em;
    margin-bottom: 2em;
}

span.xforms-hint-icon { /*negating the xsltforms.css hint icon*/
    background-image:url("x.xxx");
    1width: 0;
    display: inline;
}

div.xforms-help-value, 
div.xforms-alert-value, 
div.xforms-hint-value 
    { 
    text-align: left;
    color: gray;
    display: none;
	background-color: white;
	position: absolute;
	border: gray 1px solid; 
	width: 35em;
	margin-top: 1em;
	margin-left: -1em;
	padding: 1em;
}

.xforms-value {
    padding-left: .5ex;
}

/*title

886699: title label text, title label border, field label text, selected border, outermost box 
bbaabb: unselected border
eeddee: tab background
*/

.title .join { 
    color: #886699;    
    border-color: #886699;
}

.title .xforms-label { 
    color: #886699;    
}

.title .xforms-repeat-item {
    border-color: #bbaabb;
    padding-bottom: .75em;
}

.title fieldset,
.title .xforms-repeat-item-selected
    {
    border-color: #886699;
    padding-bottom: .75em;
    }

.title .node-adds-title, 
.title .node-adds 
    {
    padding: .5em;
    margin: .5em;    
    border-color: #eeddee; 
    border-width: 1px;
}

.title .xforms-label-small { 
    text-align: center;
    vertical-align: middle;
    width: .2em;
    height: .2em;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: auto;    
}

.title xf|trigger.delete-button span[id="xf-trigger-14"] { /*does not work*/    
    1border-color: #886699;
    1width: 3em !important;
}

/*name

669966
88aa88
eeeedd
*/

.name fieldset,
.name .xforms-repeat-item,
.name .xforms-repeat-item-selected
    {
    border-width: 2px;    
    }

.name .join {
    color: #669966;
    border-color: #669966;
    }
.name .xforms-label {
    color: #669966;
    }
.name .xforms-repeat-item {
    border-color: #88aa88;
    margin-top: 1em;
    }
.name .xforms-repeat-item-selected {
    border-color: #669966;
    margin-top: 1em;
    }
.name .level-1 {
    border-color: #669966;
    }
.name .level-2 {
    border-color: #669966;
    margin-left: 1ex;
    margin-right: 1ex;
    margin-top: 2em;
    }
.name .level-3 {
    border-color: #669966;
    margin-left: 1ex;
    margin-right: 1ex;
    margin-top: 1.25em;
    }
.name button {
    border-color: #669966;
}
.name #name-add-node-unhide {
    padding-bottom: 2.5ex;    
}
.name .node-adds-title, 
.name .node-adds 
    {
    padding: .5em;
    margin: .5em;    
    border-color: #669966; 
    border-width: 1px;
}

/*origin
668899: title label text, title label border, field label text, selected border, outermost box
88aabb: unselected border
ccddee: tab background
*/
.origin .join {
    color: #668899;
    }
.origin .xforms-label {
    color: #668899;
    }
.origin .join,
.origin fieldset, 
.origin .block-form .xforms-group .xforms-group-content .level-1 .join
    {
    border-color: #668899;
    border-width: 2px;
    }
.origin .xforms-repeat-item {
    border-color: #88aabb;
    border-width: 2px;
    }
.origin .xforms-repeat-item-selected {
    border-color: #668899;
    border-width: 2px;
    }
.origin .level-2 {
    margin-top: 3ex;
    margin-bottom: 4ex;
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    }
.origin .level-2 .join {
    margin-bottom: 3ex;
    }
.origin .level-3 {
    margin-top: 4ex;
    margin-bottom: 4ex;
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    }
.origin #fieldset-dates .xforms-group-content .level-3 {
    margin-left: 0ex;
    margin-right: .25ex;
    1margin-bottom: 1.5em;
    }
.origin button {
    width: 40ex;
    1height: 5.1ex;
    }
.origin .node-adds-title, 
.origin .node-adds 
    {
    border-color: #668899;
    border-width: 1px;
    padding: .5em;
    margin: .5em;
    }


/*part
aa8866 
ccaa88
eeddcc
*/
.part .xforms-label {
    color: #aa8866;
    vertical-align: middle;
}
.part .join {
    color: #aa8866;
    border-color: #aa8866;
}
.part .xforms-repeat-item {
    border-color: #ccaa88;
    border-width: 2px;
}
.part .xforms-repeat-item-selected,
.part fieldset
    {
    border-color: #aa8866;
    border-width: 2px;
}
.part fieldset .level-2 
    {
    margin-top: 3ex;
    margin-bottom: 4ex;
    margin-left: 1.5ex;
    margin-right: 1.5ex;

}
.part button {
    width: 35ex;
    1height: 5.1ex;
}
.part .node-adds-title, 
.part .node-adds 
    {
    border-color: #aa8866;
    border-width: 1px;
    padding: .5em;
    margin: .5em;
    border-color: #aa8866;
    }


/*physical-description
669966
88aa88
ddeedd

996688
aa8899
ddcccc
*/
.physical-description .xforms-label 
    {
    color: #996688;
    }
.physical-description .join 
    {
    color: #996688;
    border-color: #996688;
    }
.physical-description .xforms-repeat-item 
    {
    border-color: #aa8899;
    border-width: 2px;
    }
.physical-description .level-1 
    {
    border-color: #996688;
    border-width: 2px;
    }
.physical-description fieldset .level-2 
    {
    border-color: #996688;
    border-width: 2px;
    margin-right: 1.5ex;
    margin-left: 1.5ex;
    margin-top: 2em;
    }
.physical-description fieldset .level-3 
    {
    border-color: #996688;
    border-width: 2px
    }
.physical-description .node-adds-title, .node-adds 
    {
    border-color: #996688;
    border-width: 2px;
    
    }
.physical-description .xforms-repeat-item-selected 
    {
    border-color: #996688;
    border-width: 2px;
    }
.physical-description button {
    width: 25em;
}
.physical-description .node-adds-title, 
.physical-description .node-adds 
    {
    border-color: #996688;
    border-width: 1px;
    padding: .5em;
    margin: .5em;
    }

/*target-audience

aa6666
cc8888
eedddd/f6eeee

*/
.target-audience .xforms-label 
    {
    color: #aa6666;
    }
.target-audience .join 
    {
    color: #aa6666;    
    border-color: #aa6666;
    }
.target-audience .xforms-repeat-item 
    {
    border-color: #cc8888;
    border-width: 2px;
    }
.target-audience fieldset,
.target-audience .xforms-repeat-item-selected,
.target-audience .node-adds-title, 
.node-adds
    {
    border-color: #aa6666;
    border-width: 2px;
    }
.target-audience button {
    width: 40ex;
    1height: 5.1ex;
}
    
/*language

667799
99aabb
ccddeee
886699: title label text, title label border, field label text, selected border, outermost box 
bbaabb: unselected border
eeddee: tab background

*/
.language .xforms-label 
    {
    color: #886699;
    }
.language .join 
    {
    color: #886699;
    border-color: #886699;
    }
.language .xforms-repeat-item 
    {
    border-color: #bbaabb;
    border-width: 2px;
    margin-bottom: 2ex;
    }
.language fieldset 
    {
    border-color: #886699;
    border-width: 2px;
    }
.language fieldset .level-2 
    {
    margin-right: 1.5ex;
    margin-left: 1.5ex;
    margin-top: 1em;
    }
.language .node-adds-title, .node-adds 
    {
    border-color: #886699;
    border-width: 2px;
    }
.language .xforms-repeat-item-selected 
    {
    border-color: #886699;
    border-width: 2px;
    margin-bottom: 2ex;
    }
.language button {
    width: 40ex;
    1height: 5.1ex;
}

/*type

669966
88aa88
eeeedd

*/
.type .xforms-label {
    color: #669966;
    }
.type .join {
    color: #669966;
    border-color: #669966;
    }
.type .xforms-repeat-item {
    border-color: #88aa88;
    border-width: 2px;
    }
.type fieldset,
.type .node-adds-title, 
.node-adds,
.type .xforms-repeat-item-selected
    {
    border-color: #669966;
    border-width: 2px;
    }
.type button {
    width: 40ex;
    1height: 5.1ex;
}
    
/*genre
996688
aa8899
ddcccc

668899: title label text, title label border, field label text, selected border, outermost box
88aabb: unselected border
ccddee: tab background

*/
.genre .xforms-label {
    color: #668899;
    }
.genre .join {
    color: #668899;
    border-color: #668899;
    }
.genre .xforms-repeat-item {
    border-color: #88aabb;
    border-width: 2px;
    }
.genre fieldset,
.genre .node-adds-title, 
.node-adds,
.genre .xforms-repeat-item-selected
    {
    border-color: #668899;
    border-width: 2px;
    }
.genre button {
    width: 40ex;
    1height: 5.1ex;
}

/*subject
669966
bbbb99
eeeedd

996688
aa8899
ddcccc*/
.subject .xforms-label {
    color: #996688;
    }
.subject .join {
    color: #996688;
    border-color: #996688;
    }
.subject .block-form .xforms-group .xforms-group-content .level-1 .join {
    border-color: #996688;
    border-width: 2px;
    }
.subject .xforms-repeat-item {
    border-color: #aa8899;
    border-width: 2px;
    }
.subject fieldset,
.subject .node-adds-title, 
.node-adds,
.subject .xforms-repeat-item-selected
    {
    border-color: #996688;
    border-width: 2px;
    }
.subject fieldset
    {
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    }
.subject fieldset .level-2
    {
    margin-top: 3ex;
    margin-bottom: 4ex;
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    }
.subject button {
    width: 40ex;
    1height: 5.1ex;
}
.subject fieldset {
    margin-top: 2.5ex;
    }

/*classification
667799
bbaa88
ddddcc
*/
.classification .xforms-label {
    color: #aa8866;
    }
.classification .join {
    color: #aa8866;
    border-color: #aa8866;
    }
.classification .xforms-repeat-item {
    border-color: #bbaa88;
    border-width: 2px;
    }
.classification fieldset {
    border-color: #aa8866;
    border-width: 2px;
    }
.classification .node-adds-title, .node-adds {
    border-color: #aa8866;
    border-width: 2px;
    }
.classification .xforms-repeat-item-selected {
    border-color: #aa8866;
    border-width: 2px;
    }
.classification button 
    {
    width: 40ex;
    1height: 5.1ex;    
    }

/*abstract
667799
bbaa88
ddddcc
*/
.abstract .xforms-label {
    color: #aa8866;
    }
.abstract .join {
    color: #aa8866;
    border-color: #aa8866;
    }
.abstract .xforms-repeat-item {
    border-color: #bbaa88;
    border-width: 2px;
    }
.abstract fieldset {
    border-color: #aa8866;
    border-width: 2px;
    }
.abstract .node-adds-title, .node-adds {
    border-color: #aa8866;
    border-width: 2px;
    }
.abstract .xforms-repeat-item-selected {
    border-color: #aa8866;
    border-width: 2px;
    }
.abstract button 
    {
    width: 40ex;
    1height: 5.1ex;    
    }

/*table-of-contents
667799
bbaa88
ddddcc
*/
.table-of-contents .xforms-label {
    color: #669966;
    }
.table-of-contents .join {
    color: #669966;
    border-color: #669966;
    }
.table-of-contents .xforms-repeat-item {
    border-color: #88aa88;
    border-width: 2px;
    }
.table-of-contents fieldset {
    border-color: #669966;
    border-width: 2px;
    }
.table-of-contents .node-adds-title, .node-adds {
    border-color: #669966;
    border-width: 2px;
    }
.table-of-contents .xforms-repeat-item-selected {
    border-color: #669966;
    border-width: 2px;
    }
.table-of-contents button 
    {
    width: 40ex;
    1height: 5.1ex;    
    }


/*note
667799
bbaa88
ddddcc
*/
.note .xforms-label {
    color: #668899;
    }
.note .join {
    color: #668899;
    border-color: #668899;
    }
.note .xforms-repeat-item {
    border-color: #88aabb;
    border-width: 2px;
    }
.note fieldset {
    border-color: #668899;
    border-width: 2px;
    }
.note .node-adds-title, .node-adds {
    border-color: #668899;
    border-width: 2px;
    }
.note .xforms-repeat-item-selected {
    border-color: #668899;
    border-width: 2px;
    }
.note button 
    {
    width: 40ex;
    1height: 5.1ex;    
    }


/*related

669966
88aa88
eeeedd
*/

.related .join 
    {
    color: #aa8866;
    border-color: #aa8866;
    width: 200px;
    }
.related .xforms-label 
    {
    color: #aa8866;
    }
.related .xforms-repeat-item 
    {
    border-color: #ccaa88;
    }
.related .xforms-repeat-item-selected 
    {
    border-color: #aa8866;
    border-width: 2px;
    }
.related .level-1 
    {
    border-color: #aa8866;
    border-width: 2px;
    }
.related fieldset .level-2 
    {
    border-color: #aa8866;
    border-width: 2px;
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    margin-top: 1.5em;
    }
.related fieldset .level-3 
    {
    border-color: #aa8866;
    border-width: 2px;
    margin-left: 1ex;
    margin-right: 1ex;
    margin-top: 2em;
    }
.related button 
    {
    width: 300px;
    1height: 5.1ex;    
    }


/*identifier
667799
bbaa88
ddddcc
*/

.identifier .xforms-label {
    color: #886699;
    }
.identifier .join {
    color: #886699;
    border-color: #886699;
    }
.identifier .xforms-repeat-item {
    border-color: #bbaabb;
    border-width: 2px;
    }
.identifier fieldset {
    border-color: #886699;
    border-width: 2px;
    }
.identifier .node-adds-title, .node-adds {
    border-color: #886699;
    border-width: 2px;
    }
.identifier .xforms-repeat-item-selected {
    border-color: #886699;
    border-width: 2px;
    }
.identifier .block-form button {
    width: 40ex;
}
.identifier button
    {
    1height: 5.1ex;    
    }

/*record-info

669966
88aa88
ccddcc
*/

.record-info .join 
    {
    color: #669966;
    border-color: #669966;
    width: 200px;
    }
.record-info .xforms-label 
    {
    color: #669966;
    }
.record-info .xforms-repeat-item 
    {
    border-color: #88aa88;
    }
.record-info .xforms-repeat-item-selected 
    {
    border-color: #669966;
    border-width: 2px;
    }
.record-info .level-1 
    {
    border-color: #669966;
    border-width: 2px;
    }
.record-info fieldset .level-2 
    {
    border-color: #669966;
    border-width: 2px;
    margin-left: 1ex;
    margin-right: 1ex;
    margin-top: 2.5em;
    }
.record-info fieldset .level-3 
    {
    border-color: #669966;
    border-width: 2px;
    margin-left: 1ex;
    margin-right: 1ex;
    margin-top: 2.5em;
    }
.record-info button .xforms-group-label-centered 
    {
    width: 300px;    
    }
.record-info .join
    {
    width: 45ex;
    }
.record-info button
    {
    1height: 5.1ex;    
    }

/*location
668899: title label text, title label border, field label text, selected border, outermost box
88aabb: unselected border
ccddee: tab background
*/
.location .xforms-label,
.location .join
    {
    color: #668899;
    }
.location .join 
    {
    width: 240px;    
    }
.location .join,
.location fieldset, 
.location .block-form .xforms-group .xforms-group-content .level-1 .join
    {
    border-color: #668899;
    border-width: 2px;
    }
.location .xforms-repeat-item 
    {
    border-color: #88aabb;
    border-width: 2px;
    }
.location .xforms-repeat-item-selected 
    {
    border-color: #668899;
    border-width: 2px;
    }
.location .level-1 
    {
    }
.location .level-2 
    {
    margin-top: 3.5ex;
    margin-left: 1.5ex;
    margin-right: 1.5ex;
    }
.location .level-3 
    {
    margin-right: 1.5ex;
    margin-left: 1.5ex;
    margin-top: 1.5ex;
    }
.location .level-4 
    {
    margin-right: 1.5ex;
    margin-left: 1.5ex;
    margin-top: 1.5ex;
    }
#fieldset-dates .xforms-group-content .level-2 .join 
    {
    margin-left: 0;
    margin-bottom: 1.5em;
    }
.location #fieldset-place fieldset .level-3 
    {
    margin-left: 1.5ex;
    }
.location .textarea .xforms-value
    {
    width: 50ex;
    }
.location button
    {
    width: 50ex;
    1height: 5.1ex;    
    }


/*access-condition
667799
bbaa88
ddddcc
*/
.access-condition .xforms-label {
    color: #aa8866;
    }
.access-condition .join {
    color: #aa8866;
    border-color: #aa8866;
    }
.access-condition .xforms-repeat-item {
    border-color: #ccaa88;
    border-width: 2px;
    }
.access-condition fieldset {
    border-color: #aa8866;
    border-width: 2px;
    }
.access-condition .node-adds-title, .node-adds {
    border-color: #aa8866;
    border-width: 2px;
    }
.access-condition .xforms-repeat-item-selected {
    border-color: #aa8866;
    border-width: 2px;
    }
.access-condition .block-form button {
    width: 40ex;
}
.access-condition button
    {
    1height: 5.1ex;    
    }

</css>
