@import url(default-style2.css);

.module {
	font-weight: bold;
	color: white;
	background-color: #0000FF;
	padding: 10px;
	margin-left: 15px;
}

.modulename {
    border: 0;
    margin: 10px 0 0 0;
}

.moduleuri {
    padding: 0;
    margin-bottom: 10px;
}

.function {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.functionhead {
	margin: 10px 0;
    padding: 0;
	font-weight: bold;
}

.prototype {
	padding: 5px;
	border: 1px solid black;
	margin-bottom: 10px;
}

.signature {
	font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}

.description {
	padding-left: 15px;
	padding-right: 15px;
    line-height: inherit;
}

.deprecated {
    padding: 0 15px;
    line-height: inherit;
    color: red;
}
