#f-search {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
}

#f-search form {
    margin-bottom: 10px;
}

#f-search label, #f-search input {
    margin-right: .75em;
}

#f-search table {
    width: 100%;
    border: 0;
}

#f-search td {
    padding: 0;
    margin: 4px 5px 0 0;
}

#f-search td.f-btn {
    text-align: left;
    width: 20%;
}

#f-pass input {
    margin-left: 15px;
}

#f-result {
    padding: 5px 0;
    overflow: auto;
}

.f-function {
    margin: 0 0 5px 0;
    padding: 5px;
    cursor: pointer;
}

.f-function:hover {
    background-color: #EEEEEE;
}

.f-module {
    font-size: 85%;
    border-bottom: 1px solid #0990EE;
}

.f-function h3 {
    margin: 5px 0 8px 0;
    padding: 3px 0 3px 5px;
    background-color: #FAC783;
    font-variant: normal;
}

.f-signature, .f-description {
    margin-left: 15px;
}

.f-signature {
    font-family: "Liberation Mono", "Bitstream Vera Sans Mono", monospace;
    margin-bottom: 8px;
}

.f-description {
    text-align: justify;
}

.f-description-para {
    margin-bottom: 8px;
}

#f-loading {
    visibility: hidden;
}

#f-btn-print {
    text-align: right;
}

.f-info {
    text-align: center;
}

.f-print .f-module {
    border-bottom: 1px solid black;
}

.f-print .f-function h3 {
    background-color: inherit;
}

.f-module-heading-table {
    background-color:   #dddddd;
    width:              100%;
    padding:            0px;
}

.f-module-heading-description {
    text-align:         left;
    width:              45%;
    font-size:          140%;
    font-weight:        bold;
    background-color:   #dddddd;
    padding:            0px;
}

.f-module-heading-namespace {
    text-align:         left;
    width:              45%;
    font-size:          140%;
    font-weight:        bold;
    background-color:   #dddddd;
    padding:            0px;
}

.f-module-heading-hideshow {
    text-align:         center;
    width:              10%;
    font-size:          140%;
    font-weight:        bold;
    background-color:   #dddddd;
    padding:            0px;
    cursor:             pointer;
}

.f-show-buttons {
    font-weight:        bold;
    font-size:          130%;
    width:              45%;
}

.f-hide-buttons {
    font-weight:        bold;
    font-size:          130%;
    width:              55%;
}

.f-params {
    margin-top:         1em;
}

.f-deprecated {
	color:				red; 
	font-weight:		bold;
    margin: 15px 0 5px 0;
    padding: 5px;
}

.f-return {
	color:				green; 
    padding: 5px;
}
