#svnform {
    margin-bottom: 1em;
}

.svnlog {
    margin-left: 15px;
}

.svnentry {
    border-bottom: 1px solid black;
    padding: 8px 0;
}

.svnauthor {
    font-weight: bold;
}

.svncomment {
    color: #666;
    margin: 0 1em;
}

.svncat h1 {
    font-size: 2em;
    margin: 1em 0 .5em;
    padding: 0;
    background-color: transparent;
    color: black;
}

.svnentry li {
    list-style: none;
    font-family: monospace;
}

.svn-show-files {
    cursor: pointer;
    border: 0;
}