@import url(default-style2.css);

table.overview {
    border: 1pt solid black;
    font-family: Arial, Helvetica, sans-serif;
}

table.details {
    font-family: Arial, Helvetica, sans-serif;
}

table.query {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    border: 1pt solid black;
}

td.overview {
    font-size: small;
}

th.navtop {
    border-bottom: 1pt solid black;
    font-size: small;
}

th.navbottom {
    border-top: 1pt solid black;
    font-size: small;
}

th.summary {
    color: white;
}

td.details_heading {
    text-decoration: underline;
}

th.summary_heading {
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
}

div.hits {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Courier, monospace;
    font-size: smaller;
}

div.dc_title {
    font-size: 16pt;
    margin-bottom: 8px;
}

div.dcq_alternative {
    font-size: 10pt;
    font-weight: bold;
}

div.dcq_IMT {
    font-size: small;
    text-align: center;
}

blockquote {
    text-align: justify;
}

span.icondesc {
    font-size: small;
    padding-right: 5px;
}

img.icon {
    vertical-align: middle;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

table.query {
    border: 1px solid black;
}

span.label {
    font-size: small;
    font-weight: bold;
}

th {
    background-color: #0B88E8;
    color: white;
    text-align: left;
}

table.display {
    border: 1px solid black;
}

tr.high {
    background-color: white;
}

tr.low {
    background-color: #BBDDFF;
}

td.position {
    background-color: #EEEEEE;
    color: #0000FF;
}

tr.navbar {
    background-color: #0000FF;
}

a.navbar {
    color: white;
    font-weight: bold;
}

span.navbar {
    color: #BBDDFF;
}

textarea {
    font-size: 11pt;
}
