<?xml version="1.0" encoding="UTF-8"?>
<project name="test-exist-user" xmlns:au="antlib:org.apache.ant.antunit" xmlns:xdb="http://exist-db.org/ant">

    <!-- $Id$ -->
    
    <import file="common.xml"/>

    <target name="test_BackupRestore" depends="backup,restore"/>

    <target name="backup">
        <delete dir="${test.backup-dir}" failonerror="false"/>
        <mkdir dir="${test.backup-dir}"/>
        <echo>Creating backup ...</echo>
        <xdb:backup initdb="true" uri="${test.coll}/antunit" dir="${test.backup-dir}" user="${exist.user}"
                    password="${exist.password}"/>
        <au:assertFileExists message="Backup task failed"
                             file="${exist.dir}/${test.backup-dir}/db/antunit/__contents__.xml"/>
        <xdb:remove uri="${test.coll}" user="${exist.user}" password="${exist.password}" collection="antunit"/>
    </target>

    <target name="restore">
        <echo>Restoring backup ...</echo>
        <xdb:restore uri="${test.coll}" dir="${exist.dir}/${test.backup-dir}/db/antunit" user="${exist.user}"
                     password="${exist.password}"/>
        <au:assertTrue message="Restore did not work">
            <xdb:exist uri="${test.coll}/antunit" resource="test1.xml"/>
        </au:assertTrue>
    </target>

    <target name="test_XMLDBShutdown">
        <echo>test3</echo>
    </target>

</project>