body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #6699FF;
	padding: 10px;
	margin: 20px;
}

h1 {
	margin-top: 10px;
	color: white;
}

h2 {
	color: white;
	font-weight: bold;
	font-size: 100%;
}

b {
	color: white;
}

div.message {
	margin-bottom: 15px;
}

div.description {
	margin-left: 25px;
	margin-right: 25px;
}

div.exception {
	padding: 15px;
	border: 2px solid #0000FF;
	font-family: Courier, monospace;
	font-size: smaller;
}
