/*docs begin*/

.app-name {display: none}

#sidebar {
    top: 11em;
}

ol, ul {
    font-size: 1.2em;
}

h1 {
    background-color: #5DB0E6;
}

.publication {
    color: #3399CC;
}

.container {
    color: #BDA21E;
}

.location{
    color: #B02B73;
}

.chapter {
    font-size: 1.2em;
    }

table.center {
    margin-left:auto; 
    margin-right:auto;
    }

.chapter p {
    font-size: 1.2em;
}

.note {
    background-color: #5DB0E6;
    border-left: 2px solid #5DB0E6;
    border-right: 2px solid #5DB0E6;
    border-bottom: 2px solid #5DB0E6;
}

.note .note_content {
    background-color: #EDF0FA;
    }

/*docs end*/    

p, td {
    line-height: 1.25em;
}

td .record,
td .select
{
    font-size: 1em;
}

.help {
    text-align: left; 
    font-size: 120%; 
    margin-bottom: -1.2em;
}

.login {    
    text-align: right; 
    font-size: 120%; 
    margin-bottom: 4px;
    color: #666;
}

.username { 
    font-weight: bold; 
}

#page-head {
    height: 14em;
}

#page-head-left {
    position: absolute;
    left: 0;
}

#page-head-right {
    position: absolute;
    right: 0;
    margin-top: 1em;
}

a, 
a:visited 
    {
    color: #5DB0E6;
    }
    
/*folder view*/

#collection-tree {
    float: left;
    margin-top: 1em;
    background-color: #CCC;
    width: 40px;
    height: 390px;
}

.collection-tree-head {
    background-color: #CCC;
}

.collection-tree-toolbar {
    height: 20px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
}

.collection-tree-toolbar li {
    display: inline;
    float: left;
    margin: 4px 8px 4px 0;
}

.collection-tree-toolbar img { 
    border: 0; 
}

#toggle-collection-tree {
    margin: 8px 4px 8px 4px;
}

#collection-tree-tree {
    clear: left;    
}

ul.dynatree-container {
    border: 0;
}

td.collection-path {
    width: 800px;    
}

/*create new record dialog*/

.language-label {
    padding: .5em;
}

.language-list {
    position: absolute;
    right: 2em;
}

.language-list option {
    margin: .25em .5em .25em .5em;
}

.title {
    font-style: italic;
}

.box {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #CCC;
    color: #FFFFFF;
    margin-top: 100px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box p {
    margin: 8px 8px;
}

.search-form td {
    padding: 4px 4px 0 4px;
    text-align: left;
    color: #666;
}

.search-form .buttons button, .button {
    1display: inline;
    1padding-bottom:2px;
    1padding-left:1ex;
    1padding-right:1ex;
    1padding-top:2px;
    1text-align: center;    
}

td.buttons button {
    1display: inline;
    1padding-left: 3em;
    1text-align: center;
    }

.ui-autocomplete-input {
    width: 260px; 
}

.search-form input {
    width: 800px;
}

.search-form .small {
    width: 6px;
}

.search-form td input{
    width: 260px;    
}

td.dropdown{
    width: 1em;
}

table tr.repeat {
    background-color: white;
}

#form-submit {
    font-weight: bold; 
    display: inline;
    padding-bottom:2px;
    padding-left:1ex;
    padding-right:1ex;
    padding-top:2px;
    margin-left: 7em;
    }

.advanced-search {
    display:inline;
    padding-left: 10em;
    }

.search-form .collection-input {
    border: 0;
    width:800px;
}

#results-head {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #BBB;
}

#messages {
    padding: 2px 8px 12px 8px;
}

#results {
    margin-top: .5em;
}

.repeat-selected {
    background-color: #CCC;
}

/*facets*/

#filters {
    margin-top: -3px;
    float: right;
    width: 240px;
    height: 320px;
    margin-left: 10px;
    padding: 4px;
}

#filters ul {
    list-style: none;
    margin: 0;
}

#filters .expanded .expand-img {
    background: url(minus.gif) no-repeat left bottom; 
}

#filters .expand-img {
    float: left;
    width: 14px;
    height: 14px;
    background: url(plus.gif) no-repeat left bottom;
}

#filters img {
    border: 0;
    text-align: center;
}

#filters li a {
    font-weight: normal;
}

.even {
    background-color: #EDEDED;
}

.pagination-links {
    padding: 0 8px 0 8px;
    margin-bottom: 12px;
}

a {
    color: #555555;
    text-decoration: none;
    font-weight: normal;
    
}

a:hover {
    text-decoration: none;
    color: blue;
    border-bottom: 0
}

.pagination-toggle {
    cursor: pointer;
    text-decoration: none;
    line-height: 1.8em;
    padding-left: .5em;
    padding-right: .5em;
    width:100% !important;
}

.pagination-link {
    margin-right: 1em;
    padding: 2px 4px;
    cursor: pointer;
}

.pagination-back {
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    color: #0083CB;
    margin-right: 10px;
}

.pagination-next {
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    color: #0083CB;
}

.inactive {
    border: 1px solid #CCC;
    color: #CCC;
}

.pagination-info {
    margin-left: 50px;
}

.pagination-list-view {
    margin-left: 50px;
}

.authors {
    display: none;
}

.pagination-n, 
.actions-cell,
.detail-type,
.list-type
{
    text-align: center;
    vertical-align: top;
    margin: 0;
}

.list-type img {
    margin-right: 4px;
    width: 2em;
    
}
.pagination-n {
    padding: 0.55em 0 0 0;
 }

.subject td {
    vertical-align: middle;
    border: gray 1px;
    padding: 0;    
}

.action-toolbar {
    float: right;
}
td .biblio-full {
    background-color: white;
    width: 100%;
    color: #555555;
    margin-top: -1em;
}

td .biblio-full .label {
    text-align: right;
    padding-right: 1em;
    vertical-align: middle;
    width: 45em;
    color: #5DB0E6;
}

td .biblio-full .sublabel {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    vertical-align: middle;
    color: gray;
    width: 12.5em;
}

td .biblio-full .host {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    color: #5DB0E6;
    width: 16em;
}

td .biblio-full .deemph {
    text-align: right;
    vertical-align: middle;
    color: gray;
    width: 10em;
}

.biblio-full .record {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    width: 70%;
}

.biblio-full .subrecord {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    width: 40em;
}

.biblio-full .related td {
    margin: 10em;
    line-height:3.4em;
    border-top: 1px solid gray;
}

.actions-toolbar {
    float: right;
}

.save {
    vertical-align: top;
}

.save img, .actions-toolbar img {
    border: 0;
    margin: 0 0 0;
}

.ui-widget {
    font-size:1em;
}

#optimize-trigger {
	float: right;
}

form ul li {
	list-style: none;
}

span.readable .dynatree-title {
    font-weight: normal;
    color: #999;
}

.sharing-panel {
    border: 1px black solid;
    padding: 1em;
    margin-bottom: 2em;
}
/*folder sharing dialog*/

.sharing-option {
    margin-top: 1em;
}

#group-members {
    margin-top: 1em;
    margin-bottom: 1em;    
}

#group-members-list {
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 8em;
    list-style: none;
    overflow: auto;
    width: 10em;    
}

#group-members-list li {
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
}

.labelWithCheckboxLeft {
    padding-left: 0.25em;    
}