<div
    ><input id="inputFile" type="file" name="" value="" class="xfValue"
           dojoAttachPoint="inputNode" dojoAttachEvent="onchange:onChange"
    /><div class="bfProgressbar" style="display:none;" dojoAttachPoint="progress"
        ><div class="border">
            <div dojoAttachPoint="progressBackground" class="background"></div
        ></div
    ></div
    ><input id=""type="hidden" value="" dojoAttachPoint="fileName"
    ><iframe id="UploadTarget" name="UploadTarget" src="" style="width:0px;height:0px;border:0"></iframe>
</div>
