p, td {
    line-height:1.7em;
}
.search-form {
}

.search-form td {
    padding: 4px 4px 0 4px;
}

.search-form input {
    width: 260px;
}

.search-form .buttons {
    text-align: right;
}

.search-form .buttons button {
    font-weight: bold;
    font-size: 112%;
    margin-left: 1em;
}

#results-head {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #BBBBBB;
}

#messages {
    padding: 10px 8px;
}

#result-container {
}

#results {
    margin-top: 1em;
}

.repeat-selected {
    background-color: #CCC;
}

#filters {
    float: right;
    width: 240px;
    height: 320px;
    margin-left: 10px;
    padding: 4px;
}

#filters ul {
    list-style: none;
    margin: 0;
}

#filters .expanded .expand-img {
    background: url(minus.gif) no-repeat left bottom; 
}

#filters .expand-img {
    float: left;
    width: 14px;
    height: 14px;
    background: url(plus.gif) no-repeat left bottom;
}

#filters img {
    border: 0;
    text-align: center;
}

#filters li a {
    font-weight: normal;
}

.even {
    background-color: #E6E6E6;
}

.pagination {
}

.pagination-links {
    padding: 0 8px 0 8px;
    margin-bottom: 8px;
}

a {
color: black;
text-decoration: none;
font-weight: normal;
    
}
a:hover {
    text-decoration: none;
    color: blue;
    border-bottom: 0
}

.pagination-toggle {
    cursor: pointer;
    text-decoration: none;
    line-height:2em;
    padding: .2em;
    width:100%;
}

.pagination-link {
    margin-right: 1em;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    cursor: pointer;
    color: #0083CB;
}

.pagination-back {
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    color: #0083CB;
    margin-right: 10px;
}

.pagination-next {
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #0083CB;
    color: #0083CB;
}

.inactive {
    border: 1px solid #CCC;
    color: #CCC;
}

.pagination-info {
    margin-left: 50px;
}

.pagination-list-view {
    margin-left: 50px;
}

.authors {
    display: none;
}
.biblio-full {
    background-color: white;
}

.pagination-n, .actions {
    width: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.biblio-full .label {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    vertical-align: top;
    width: 16em;
}

.biblio-full .record {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    width:30em;
}

.biblio-full .label:after {
    content: ":"
}

.biblio-full .related td {
    margin: 10em;
    line-height:3.4em;
    border-top: 1px solid gray;
}

.biblio-full .related hr {
    color: blue;
}

.host {
    margin: 10em;
    text-align: right;
    color: blue;
    padding-right: 1em;
    font-weight: bold;
}

.save {
    vertical-align: top;
}

.save img {
    border: 0;
    margin: 0;
}

.ui-widget {
    font-size:1em;
}

#optimize-trigger {
	float: right;
}

form ul li {
	list-style: none;
}
