@import url(tree.css);
@import url(container.css);

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
    color: rgb(32, 88,160);
}

* {
    margin: 0;
    padding: 0;
}

#header {
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #1849B5;
    font-size: 75%;
}

#header h1 {
	font-weight: normal;
	font-size: 150%;
}

#header #menu {
    margin: 0.3em 0 0 0;
    padding: 0;
    float: right;
}

#menu li {
    list-style: none; 
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
}

#menu li a {
    color: #666666;
}

#content {
	position: relative;
    margin: 5px 20px 0 20px;
    font-size: 80%;
}

#messages {
	position: absolute;
	bottom: 2em;
	right: 2em;
    height: 1.5em;
    color: white;
	background-color: #C61800;
}

#panel-left {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 49%;
    background-color: #ffffff;
    border: 1px solid #1849B5;
    width: 40%;
}

#panel-left h1 {
    font-size: 100%;
    color: white;
    background-color:  #1849B5;
    padding: 5px 0 5px 10px;
}

#navtree {
    overflow: auto;
    padding: 5px 2px 5px 2px;
}

#panel-right {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 58%;
	height: 49%;
}

#testcases {
    border: 1px solid #FFCF00;
}

#group-details {
}

#group-details .group-heading {
    background-color: #FFCF00;
    padding: 6px 5px;
    border-bottom: 1px solid #FFCF00;
}

.group-heading h1 {
    font-size: 100%;
    color: black;
}

.group-heading h2 {
    font-size: 80%;
    font-style: italic;
    font-weight: normal;
}

.group-heading button {
    float: right;
    border: 1px solid #666666;
    background-color: #EEEEEE;
	color: #666666;
    font-size: 100%;
}

.group-heading select {
    float: right;
    border: 1px solid #666666;
    background-color: #EEEEEE;
    color: #666666;
    font-size: 100%;
}

#tests {
    overflow: auto;
}

#tests table {
    width: 99%;
}

#tests td {
    padding-top: 3px;
    font-size: 75%;
}

#tests .even {
    background-color: #F5F5F5;
}

#tests .fail {
    background-color: #C61800;
    color: #FFFFFF;
    text-align: center;
}

#tests .pass {
    background-color: #109618;
    color: #FFFFFF;
    text-align: center;
}

#details {
    position: absolute;
    top: 52%;
    height: 46%;
    left: 5px;
    right: 5px;
	bottom: 10px;
    border: 1px solid #A5BDF3;
}

#details-content {
    overflow: auto;
    clear: both;
}

#tabs {
    float: left;
	width: 100%;
    background: #F5F5F5;
    font-size: 75%;
    border-bottom: 1px solid #A5BDF3;
    margin-bottom: 5px;
}

#tabs ul {
    float: left;
    margin: 0;
    padding:10px 5px 0 5px;
    list-style:none;
}

#tabs li {
    display:inline;
    margin:0;
    padding:0;
}

#tabs a {
    float:left;
    background:url("tableft1.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 2px;
    text-decoration:none;
}

#tabs a span {
    float:left;
    display:block;
    background:url("tabright1.gif") no-repeat right top;
    padding:5px 10px 4px 3px;
    color:#627EB7;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
	color:#627EB7;
}

#tabs a:hover {
	background-position:0% -42px;
}

#tabs a:hover span {
	background-position:100% -42px;
}

#test-details {
    font-size: 100%;
}

#summary {
    display: inline;
    font-size: 100%;
}

#summary td {
    padding-bottom: 15px;
}

#summary .label {
    font-weight: bold;
    padding-right: 20px;
    vertical-align:text-top;
}

#summary .fail {
    color: red;
    font-weight: bold;
}

#summary .pass {
    color: green;
    font-weight: bold;
}

#progress-inner {
	position: relative;
	height: 200px;
    font-size: 100%;
}

#progress-inner h1 {
	font-size: 100%;
	text-align: center;
	margin: 5px 0;
	padding: 0;
}

#progress-inner table {
	position: relative;
	left: 25%;
	right: 25%;
	width: 50%;
    font-size: 100%;
    padding: 10px 5px;
}

#progress-inner td {
    width: 30%;
    text-align: center;
}

#progress-passed {
    background-color: #109618;
    color: white;
    text-align: center;
    font-size: 160%;
}

#progress-failed {
    background-color: #C61800;
    color: white;
    text-align: center;
    font-size: 160%;
}

#progress-dismiss {
	position: absolute;
	bottom: 0px;
	left: 10px;
}

#progressPane {
	position: absolute;
	width: 100%;
	top: 70%;
	margin-bottom: 10px;
}

#progressBar_bg{
	position:absolute;
	left: 50%;
	top: 70%;
	width:300px;
	height:20px;
	border:1px solid #000;
	background-color:#EEE;
	margin-left:-150px;	
	margin-top:-20px;
	text-align:center;
}

#progressBar_outer{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;	
	height:100%;
	overflow:hidden;	
}
	
#progressBar{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	background-color:#184EB8;
	filter: Alpha(Opacity=0, FinishOpacity=100,Style=1,StartX=0, StartY=0, FinishX=200,FinishY=20) ;
	height:100%;
	z-index:5000;
}

#progressBar_txt{
	color:#000;
	z-index:10000;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	position:absolute;		
	font-family:arial;
	font-size:0.8em;
	line-height:20px;	/* Same as height of progress bar */
}

#installation .bd {
    margin: 10px 15px;
    overflow: auto;
}

#installation li {
    margin: 10px 10px;
}

#installation b {
    color:#184EB8;
}

.filename {
    font-family: monospace;
}