// Windows only: using wrapper to start/stop eXist requires special permissions

// Give Wrapper classes full permissions
grant codeBase "file:tools/wrapper/lib/wrapper.jar" {
        permission java.security.AllPermission;
};

// Grant various permissions to a specific service.
grant codeBase "file:-" {
        permission java.security.AllPermission;

        permission org.tanukisoftware.wrapper.security.WrapperServicePermission "eXist*", "interrogate,start,stop";
};
