#login_native {
	width: 470px;	
}
#login_native legend {
	font-weight: bold;
}

form fieldset {
	border: none;
}

.titlebar {
	margin-bottom: 1em;
	padding-bottom: .5em;
	border-bottom: 1px dotted #878787;
}
.login_left { text-align: right; width: 6em; float: left; clear: left; margin-right: .2em; }

