<?xml version="1.0"?>

<header>
    <logo src="logo.jpg"/>
    <title>Open Source Native XML Database</title>
	<author email="wolfgang@exist-db.org">Wolfgang M. Meier</author>
    <version>@version@</version>
</header>
