<html xmlns:config="http://exist-db.org/xquery/apps/config">
    <head>
        <link rel="stylesheet" type="text/css" href="resources/style.css"/>
    </head>
    <body>
        <h1>Demo App</h1>
        <p>You are viewing index.html transformed through modules/view.xql</p>
        <hr/>
        <h2>Application Info</h2>
        <config:app-info/>
    </body>
</html>